/*DEBUT POLICES ------------------------------------------------ */

@font-face{ /*Définition d'une police personnalisée*/
    font-family: 'codystar';
    src: url('font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.eot') format('eot'),
         url('font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.woff') format('woff'),
         url('font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.ttf') format('truetype'),
         url('font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.svg') format('svg');
}

@font-face{ /*Définition d'une police personnalisée*/
    font-family: 'monserrat';
    src: url('font/Monserrat/Montserrat-Regular.eot') format('eot'),
         url('font/Monserrat/Montserrat-Regular.woff') format('woff'),
         url('font/Monserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face{ /*Définition d'une police personnalisée*/
    font-family: 'coustard';
    src: url('font/coustard/coustard-regular-webfont.eot') format('eot'),
         url('font/coustard/coustard-black-webfont.woff') format('woff'),
         url('font/coustard/coustard-regular.ttf') format('truetype');
}

/*FIN POLICES ------------------------------------------------ */

header{/* Utilisation de la police personnalisée sur le header */
    /*font-family: 'codystar', Arial, Verdana;
    color: #101E42;
	font-size: 70px;*/
	/*background-image: linear-gradient(-90deg, #101E42, #314B8E, white);*/
  background-image: url("img/banner3.jpg");
  background-size: cover;
}

header h1{
    font-family: 'codystar';
    color: white/*#101E42*/;
    font-size: 70px;
    text-align: left;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:120px;
}

li{
	display:inline-block;
	border:1px solid black;
	width:100px;
}
body{
	font-family: 'monserrat';
	color: white;
	background-image: url("img/background3.jpg");
    /*background-color: #314B8E;*/
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body h2{
    font-family: 'coustard';
    color: white;
}

/* DEBUT Style Barre de navigation ------------------------------------------------ */
.BarreNavigation {
    font-family: 'monserrat';
    background-color: #101E42;
    overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 1;
}


.BarreNavigation a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}   

.BarreNavigation a:hover {
  background-color: #DFA109;/*#ddd;*/
  color: black;
  transition-duration: 0.7s;

}

.BarreNavigation a.active {
  background-color: #314B8E;
  color: white;
}

.BarreNavigation input[type=text] {
  float: right;
  margin-top: 14px;
  margin-right: 16px;
  font-size: 17px;
}


.BarreNavigation form {
	float: right;
  padding: 14px 16px;
	float: top;
	
}

/* FIN Style Barre de navigation ------------------------------------------------ */

/* DEBUT Style logo ------------------------------------------------ */
.logovectClass{
    /*margin-top:0px;
    margin-right:0px;
    margin-bottom:10px;
    margin-left:10px;*/
    position: absolute;
    left:5px;
    top:0;
}
/* FIN Style logo ------------------------------------------------ */

/* DEBUT Style Champs Connexion ------------------------------------------------ */

.champsConnexion h1 {
    font-family: 'coustard';
    text-align: center;
    margin: center;
}

.champsConnexion input {
    font-family: 'monserrat';
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour éviter que le champs soit trop décalé */
}

.champsConnexion a {
    font-family: 'monserrat';
    margin: center;
    text-align: center;
}

/* FIN Style Champs Connexion ------------------------------------------------ */


/* DEBUT Style Champs Inscription ------------------------------------------------ */

.champsInscription h1 {
    font-family: 'coustard';
    text-align: center;
    margin: center;
}

.champsInscription input[type=text] {
    font-family: 'monserrat';
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour éviter que le champs soit trop décalé */
}
.champsInscription input[type=password] {
    font-family: 'monserrat';
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour éviter que le champs soit trop décalé */
}

.champsInscription input[type=date] {
    font-family: 'monserrat';
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour éviter que le champs soit trop décalé */
}

.champsInscription form {
    text-align: center;
}

/* FIN Style Champs Inscription ------------------------------------------------ */

/* DEBUT Style Planétarium ------------------------------------------------ */

#video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.entrerPlanetarium form {
    text-align: center;
}

/* FIN Style Planétarium ------------------------------------------------ */

/* DEBUT Style des cartes ------------------------------------------------ */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: auto;
    color: #101E42;
    background-color: white;
    float: left;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
/* FIN Style des cartes ------------------------------------------------ */



/* DEBUT Style slider ------------------------------------------------ */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.conteneur {
  position: relative;
  width: 50%;
  float: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* FIN Style slider ------------------------------------------------ */



/*DEBUT TEST ------------------------------------------------ */

div.galerie {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 240px;
}

div.galerie:hover {
    border: 1px solid #777;
}

div.galerie img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 8px;
    text-align: center;
    font-family: 'monserrat';
    color: #101E42;
    background-color: white;
}

/*FIN TEST ------------------------------------------------ */
iframe {
  width: auto;
  height: auto;
}

/* DEBUT Style footer ------------------------------------------------ */

footer{
  font-family: 'monserrat';
  background-color: #101E42;
  
  width: 100%;
  height: auto;
  position: initial;
  bottom: 0;
  left: 0;
  right: 0;
}
/* FIN Style footer ------------------------------------------------ */