html{
    height:100%;
}
body{
    height:100%;
    background-color: #101E42;
}

img{
    object-fit: cover;
    width:100%;
    max-height: 100%;
}
/* page index */
.contentIndex{
    display:grid;
    width:75%;
    height:100%;
    margin: 50px auto auto auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% 20%;
    grid-template-areas: "a a a"
                         "b c d";
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.actuPrincipale{
    grid-area: a;
    background-color: white;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "a b";
}

.imageActuPrincipale{
    grid-area: a;
    background-color: black;
}

.texteActuPrincipale{
    grid-area: b;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.actuSecondaire{
    display:grid;
    grid-template-rows: 80% 20%;
    grid-template-areas: "a"
                         "b";
}

.imageActuSecondaire{
    grid-area: a;
    background-color:white;
}

.texteActuSecondaire{
    grid-area: b;
}

.petiteActu1{
    grid-area: b;
    background-color:white;
}

.petiteActu2{
    grid-area: c;
    background-color:white;
}

.petiteActu3{
    grid-area:d;
    background-color:white;
}

/* fin page index */

.btn-space{
    margin-left:8px;
}

/* DEBUT DES AJOUTS CSS QUENTIN ---------------------------------------------------- */

@font-face{ /*Définition d'une police personnalisée*/
    font-family: 'codystar';
    src: url('../../public/font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.eot') format('eot'),
         url('../../public/font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.woff') format('woff'),
         url('../../public/font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.ttf') format('truetype'),
         url('../../public/font/codystar-fontfacekit/webfonts/codystar_regular_macroman/codystar-regular-webfont.svg') format('svg');
}

.TestQuentin img {
    float: left;

}
.TestQuentin h1 {
    font-family: 'codystar';
    color: #101E42;
    /*font-size: 50px;
    text-align: left;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
    /* Texte responsive */
    /*font-size:3.5vw;*/

}


/* Responsivité du titre a côté du logo */
@media screen and (min-width: 521px) {
  div.TestQuentin h1 {
    font-size: 50px;
    text-align: left;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}

@media screen and (max-width: 520px) {
  div.TestQuentin h1 {
    font-size: 45px;
    text-align: left;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}

@media screen and (max-width: 500px) {
  div.TestQuentin h1 {
    font-size: 40px;
    text-align: left;
    margin-top:8px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}

@media screen and (max-width: 480px) {
  div.TestQuentin h1 {
    font-size: 35px;
    text-align: left;
    margin-top:11px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}

@media screen and (max-width: 460px) {
  div.TestQuentin h1 {
    font-size: 30px;
    text-align: left;
    margin-top:14px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}

@media screen and (max-width: 440px) {
  div.TestQuentin h1 {
    font-size: 25px;
    text-align: left;
    margin-top:17px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:80px;
  }
}


.TestQuentin a:link {
    text-decoration:none;
} 
.couleurCI {
    background-color: #101E42 !important;
}

#boutonRecherche {
    width: 50px !important;
}

/* Couleur jaune du bouton recherche quand passage dessus */
#boutonRecherche:hover{
    width: 50px !important;
    background-color: #DFA109 !important;

}

.navbar-collapse {
    margin-left: 100px;
}

.contentGalerie{
    display:grid;
    width:75%;
    height:100%;
    margin: 50px auto auto auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c d e f"
                         "g h i j k l";
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.galerieSecondaire{
    display:grid;
    grid-template-rows: 80% 20%;
    grid-template-areas: "a"
                         "b";
}

.imageGalerieSecondaire{
    grid-area: a;
    background-color:white;
}

.texteGalerieSecondaire{
    grid-area: b;
}

.petiteGalerie1{
    grid-area: a;
    background-color:white;
}

.petiteGalerie2{
    grid-area: b;
    background-color:white;
}

.petiteGalerie3{
    grid-area: c;
    background-color:white;
}

.petiteGalerie4{
    grid-area: d;
    background-color:white;
}

.petiteGalerie5{
    grid-area: e;
    background-color:white;
}

/* Application d'un style 'flottant' à la barre de navigation */
nav {

    overflow: hidden !important;
    position: sticky !important;
    top: 0 !important;
    z-index: !important;
}



/* FIN DES AJOUTS CSS QUENTIN ---------------------------------------------------- */