html{
    height:100%;
}
body{
    height:100%;
}

img{
    object-fit: cover;
    width:100%;
    max-height: 100%;
}
/* page index */
.contentIndex{
    display:grid;
    width:75%;
    height:100%;
    margin: 50px auto auto auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% 20%;
    grid-template-areas: "a a a"
                         "b c d";
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.actuPrincipale{
    grid-area: a;
    background-color:red;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "a b";
}

.imageActuPrincipale{
    grid-area: a;
    background-color: blue;
}

.texteActuPrincipale{
    grid-area: b;
}

.actuSecondaire{
    display:grid;
    grid-template-rows: 80% 20%;
    grid-template-areas: "a"
                         "b";
}

.imageActuSecondaire{
    grid-area: a;
    background-color:olive;
}

.texteActuSecondaire{
    grid-area: b;
}

.petiteActu1{
    grid-area: b;
    background-color:green;
}

.petiteActu2{
    grid-area: c;
    background-color:orange;
}

.petiteActu3{
    grid-area:d;
    background-color:yellow;
}

/* fin page index */

.btn-space{
    margin-left:8px;
}

/* galerie */

.contentGalerie{
    display:grid;
    width:75%;
    height:100%;
    margin: 50px auto auto auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% 20%;
    grid-template-areas: "a a a"
                         "b c d";
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}
