@font-face {
    font-family: 'codystarregular';
    src: url('codystar-regular-webfont.eot');
    src: url('codystar-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('codystar-regular-webfont.woff2') format('woff2'),
         url('codystar-regular-webfont.woff') format('woff'),
         url('codystar-regular-webfont.ttf') format('truetype'),
         url('codystar-regular-webfont.svg#codystarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

