

        
        

        
        
          <div class="corps article-sea-home-a article-sea-espace-a" itemprop="articlebody">
            <p>Les ingénieurs de l'agence spatiale américaine (<a href="https://www.sciencesetavenir.fr/tag_organisation/nasa_5263/">Nasa</a>) se préparent à actionner le bras robotique de <a href="https://www.sciencesetavenir.fr/espace/systeme-solaire/sonde-insight-suivez-en-direct-son-atterrissage-sur-mars_129577">la station InSight qui s'est posée sur Mars le 26 novembre 2018</a>. Mais ils avancent prudemment. Les deux instruments scientifiques à bord, un sismomètre français et une sonde de température allemande, semblent pour l'instant en bon état, a dit jeudi 29 novembre à l'AFP le chef du directorat scientifique de la Nasa, Thomas Zurbuchen. "<em>Nous n'avons pas encore allumé les instruments</em>", a-t-il expliqué, ce qui sera fait <em>"dans les prochains jours"</em>. Mais des données basiques sur l'état de santé des instruments ont été transmises depuis lundi soir, et "<em>tout va bien</em>", a-t-il confirmé.</p>

<h3>En attente d'images plus claires fournies par InSight</h3>

<p><a href="https://www.sciencesetavenir.fr/tag_theme/insight_27843/">InSight</a> est équipé de deux appareils photos en couleurs et a déjà envoyé sur Terre six clichés depuis qu'il s'est posé lundi à 19H52 et 59 secondes en horaire GMT. Il restera immobile pour les deux ans de sa mission, et les images envoyées jusqu'à présent sont prises du même angle par chaque appareil. Elles montrent un ciel dégagé et une surface apparemment plane devant l'engin, même si des poussières obscurcissent pour l'instant les images prises depuis la caméra fixée sur sa plateforme. Mais la protection transparente de la lentille va être retirée, ce qui permettra bientôt de prendre des images claires.</p>

<h3>InSight et sa pince à 5 doigts</h3>

<p>InSight est équipé d'un bras articulé robotique, au bout duquel se trouve une pince à cinq doigts. Cette pince servira à prendre et à déposer les deux instruments d'InSight sur le sol martien, dans les trois prochains mois. Pour l'instant, les ingénieurs de la Nasa ont commencé à légèrement relâcher la tension de la pince, avec des résultats probants, selon deux photos datées de mardi et diffusées jeudi, qui montrent que la pince a bougé. La Nasa avait confirmé lundi soir que les panneaux solaires s'étaient correctement dépliés et avaient commencé à recharger les batteries d'InSight - c'est sa seule source d'énergie. La puissance est de 600 à 700 watts par beau temps, soit de quoi alimenter un robot-mixeur de cuisine, mais cela suffit amplement, selon la Nasa.</p>

<p>Dans les prochains jours, le bras robotique devrait commencer à être actionné. L'appareil photo qui y est fixé pourra alors capturer l'image des environs immédiats d'InSight, et confirmer qu'un emplacement plat et sans pierres est disponible devant l'engin pour y déposer les instruments.</p>
<div class="BeOpinionWidget"></div>
            
          </div>
        

        

        
        
        <a href="#comments" class="article-reactions rbrq-espace-bg-hover-darken xs-visible">Commenter</a>
        

        
        

<p class="article-tags rbrq-espace-a-color-bg" itemprop="keywords">

  
  
        <a href="https://www.sciencesetavenir.fr/tag_lieu/mars_4977/" rel="tag">Mars</a>
        <a href="https://www.sciencesetavenir.fr/tag_theme/insight_27843/" rel="tag">Insight</a>
        <a href="https://www.sciencesetavenir.fr/tag_organisation/nasa_5263/" rel="tag">NASA</a>
  
  
  
  
</p>


        
        
        <a href="#comments" class="article-reactions rbrq-espace-bg-hover-darken xs-hidden">Commenter</a>
        

        

      