<div class="ce_text block sc sc2 sc-count0 sc-first sc2-first">
   <h1>Io, satellite de Jupiter</h1>
   <p>Io est un satellite de la planète Jupiter.</p>
   <p>Il a été découvert le 7 janvier 1610 par Galilée (Galileo Galilei).</p>
   <p>Io est le 5<sup>e</sup> satellite Galiléen, nom donné aux 4 plus gros satellites de Jupiter découverts par Galilée (Galileo Galilei). Il orbite à une distance moyenne de 421&nbsp;800&nbsp;km ce qui fait de lui le en terme de distance à 5<sup>e</sup> satellite en terme de distance à Jupiter.</p>
   <p>Io est le 4<sup>e</sup> plus gros satellite du système solaire et le 3<sup>e</sup> satellite du système de Jupiter. Jupiter est légèrement&nbsp;plus gros que la Lune.</p>
   <p>Etant donné la distance à Jupiter relativement faible et la taille relativement importante de Io, de forte forces de marée gravitationnelles s'exerces sur Io ce qui le déforme légèrement à chaque rotation provoquant une activité géologique intense qui se manifeste sous la forme de geysers et de volcanisme actifs à sa surface.</p>
   <p>On compte plus de 400 volcans à la surface de Io, ce qui est exceptionnel pour un satellite. Les éruptions sont visibles à plusieurs centaines de kilomètres de la surface de Io.</p>
</div>
<div class="ce_text first block sc sc2 sc-count1 sc-last sc2-last sc-close" id="caracteristiques">
   <h1>Caractéristiques de Io</h1>
   <dl>
      <dt>Type d'objet :</dt>
      <dd>satellite naturel</dd>
      <dt>Découverte :</dt>
      <dd>7 janvier 1610 par&nbsp;Galilée (Galileo Galilei)</dd>
      <dt><em> - Orbite - </em></dt>
      <dd>----------</dd>
      <dt>Système planétaire :</dt>
      <dd>Jupiter</dd>
      <dt>Distance à la planète :</dt>
      <dd>5<sup>e</sup></dd>
      <dt>Ordre de taille du système planétaire :</dt>
      <dd>3<sup>e</sup></dd>
      <dt>Ordre de taille du système solaire :</dt>
      <dd>4<sup>e</sup></dd>
      <dt>Demi-grand axe de l'orbite :</dt>
      <dd>421&nbsp;800 km</dd>
      <dt>Périgée :</dt>
      <dd>420&nbsp;071 km</dd>
      <dt>Apogée :</dt>
      <dd>423&nbsp;529 km</dd>
      <dt>Excentricité orbitale :</dt>
      <dd>0,0041</dd>
      <dt>Inclinaison :</dt>
      <dd>0,036°</dd>
      <dt>Période de rotation :</dt>
      <dd>1,769 jours - 1&nbsp;jours 18&nbsp;heures 27&nbsp;minutes 21&nbsp;secondes </dd>
      <dt>Vitesse orbitale moyenne :</dt>
      <dd>62&nbsp;423,1 km/h</dd>
      <dt>Rotation synchrone avec la période orbitale :</dt>
      <dd>Oui</dd>
      <dt><em> - Rotation - </em></dt>
      <dd>----------</dd>
      <dt>Période de rotation :</dt>
      <dd>1,769 jours - 1&nbsp;jours 18&nbsp;heures 27&nbsp;minutes 21&nbsp;secondes </dd>
      <dt>Inclinaison :</dt>
      <dd>0,036°</dd>
      <dt>Vitesse de libération :</dt>
      <dd>8&nbsp;552 km/h</dd>
      <dt><em> - En chiffre - </em></dt>
      <dd>----------</dd>
      <dt>Rayon moyen:</dt>
      <dd>1&nbsp;821,6 km</dd>
      <dt>Dimensions triaxiales :</dt>
      <dd>1830 x 1818.7 x 1815.3 km</dd>
      <dt>Circonférence à l'équateur :</dt>
      <dd>11&nbsp;445,5 km</dd>
      <dt>Volume :</dt>
      <dd>25&nbsp;319&nbsp;064&nbsp;907 km<sup>3</sup></dd>
      <dt>Volume par rapport à la Lune :</dt>
      <dd>
         <style>.rapporth4 {clear:both;margin-top:0}.divwrap {position:relative;height:240px; margin-bottom:20px;}.divlune {text-align:center; font-weight:bold;width:200px;height:200px;border-radius:200px;display:block;background:#ddd url(files/planetes/lune-200.png) top left no-repeat;background-size:100%;position:absolute;bottom:0;left:0;}.divsatellite {border-radius: 100%;text-align:center; font-weight:bold;display:block;background: -webkit-radial-gradient(100px 100px, circle, #ff6600, #000);background: -moz-radial-gradient(100px 100px, circle, #ff6600, #000);background: -ms-radial-gradient(100px 100px, circle, #ff6600, #000);
            background: radial-gradient(200px 200px, circle, #ff6600, #000);position:absolute;bottom:0;right:0;}.divlune span, .divsatellite span {color:#fff;text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;}.divlune > span, .divsatellite > span {display:block;margin-top:80px;color:#fff;}.divlune span span, .divsatellite span span {font-weight:normal;font-size:0.7em;}
         </style>
         115&nbsp;%
      </dd>
      <dt>Surface :</dt>
      <dd>41&nbsp;698&nbsp;064,74 km<sup>2</sup></dd>
      <dt>Surface par rapport à la Lune :</dt>
      <dd>110 %</dd>
      <dt>Masse :</dt>
      <dd>89&nbsp;319&nbsp;379&nbsp;731&nbsp;108&nbsp;893&nbsp;556&nbsp;736 kg (8.9319 x 10<sub>22</sub> kg)</dd>
      <dt>Masse par rapport à la Lune :</dt>
      <dd>121,56 %</dd>
      <dt>Densité :</dt>
      <dd>3,528 g/cm<sup>3</sup></dd>
      <dt>Densité par rapport à la Terre :</dt>
      <dd>64&nbsp;%</dd>
      <dt>Gravité à la surface :</dt>
      <dd>1,796 m/s<sup>2</sup></dd>
      <dt>Gravité à la surface par rapport à la Terre :</dt>
      <dd>18&nbsp;%</dd>
   </dl>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Orbite de Io
</h2>
<div class="ce_text block sc sc2 sc-count2 sc-first sc2-first">
   <p>Io est en orbite autour de Jupiter à une distance moyenne de 421&nbsp;800&nbsp;km.</p>
   <p>L'excentricité de l'orbite de Io qui est de 0,0041 fait varier sa distance à Jupiter de 420&nbsp;071&nbsp;km au périhélie à 423&nbsp;529&nbsp;km à l'aphélie.</p>
   <p>L'orbite de Io a une inclinaison de 0,036&nbsp;° par rapport au plan équatorial de Jupiter.</p>
   <p>La vitesse orbitale de Io est de 62&nbsp;423,1&nbsp;km/h.<br>Io effectue une révolution complète autour de Jupiter en 1,769&nbsp;jours terrestres soit 1&nbsp;jours 18&nbsp;heures 27&nbsp;minutes 21&nbsp;secondes .</p>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Rotation de Io
</h2>
<div class="ce_text block sc sc2 sc-count4 sc-first sc2-first">
   <p>Io, comme la plupart des satellites d'assez grande dimension, est en rotation synchrone avec Jupiter, c'est à dire qu'il tourne sur lui même en autant de temps que ce qu'il lui faut pour faire un tour autour de Jupiter, soit 1,769&nbsp;jours terrestres.</p>
   <p>Tout comme notre Lune dont nous voyons toujours la même face depuis la Terre, Io présente toujours le même hémisphère à Jupiter. On parle alors de rotation synchrone.</p>
   <p>Io a donc une période orbitale égale à sa période de révolution autour de Jupiter soit dans les 2 cas 1,769&nbsp;jours terrestres ou 1&nbsp;jours 18&nbsp;heures 27&nbsp;minutes 21&nbsp;secondes &nbsp;.</p>
</div>
<div class="sc sc2 sc-count5 sc-last sc2-last sc-close sc-wrapper">
   <div class="video-container carre">
      <iframe src="https://www.planete-astronomie.eu/files/rotation-planete/satellite.php?planete=Jupiter&amp;satellite=Io"></iframe>
   </div>
   <p class="info">Cliquez pour faire tourner Io. Molette pour zoomer. <a href="files/rotation-planete/satellite.php?planete=Jupiter&amp;satellite=Io" target="_blank" title="Voir io en plein écran"><i class="icon-zoom-in"></i></a></p>
</div>
<div class="sc-clear"></div>
<!-- Planète Astronomie EU Texte -->
<h2 class="ce_headline">
   Dimensions de Io
</h2>
<div class="ce_text block sc sc2 sc-count6 sc-first sc2-first">
   <h3>Rayon, circonférence et surface de Io</h3>
   <p>Io a un rayon moyen de 1&nbsp;821,6&nbsp;km (1830 x 1818.7 x 1815.3) soit un diamètre de 3&nbsp;643,2&nbsp;km. Comparé à notre Lune, c'est 105% du diamètre de notre Lune soit 5% de plus que la Lune.</p>
   <p>Sa circonférence est de 11&nbsp;445,5&nbsp;km et sa surface mesure 41&nbsp;698&nbsp;064,74&nbsp;km<sub>2</sub>.</p>
</div>
<div class="sc sc2 sc-count7 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Taille de Io comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune"><span>1737.5 km</span></div>
      <div class="divsatellite" style="width:210px;height:210px;"><span>1821.6 km<br><span>105%</span></span></div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count8 sc-first sc2-first">
   <h3>Masse de Io</h3>
   <p>La masse de Io est de 89&nbsp;319&nbsp;379&nbsp;731&nbsp;108&nbsp;893&nbsp;556&nbsp;736&nbsp;kg (8.9319 x 10<sub>22</sub>&nbsp;kg).</p>
   <p>Comparé à la masse de la Lune, la masse de Io n'est que de 121,56&nbsp;%. Il faudrait donc&nbsp;0,82 fois Io pour égaler la masse de la Lune.</p>
</div>
<div class="sc sc2 sc-count9 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Masse de Io comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune"><span>7.3477 x 10<sub>22</sub> kg</span><span></span></div>
      <div class="divsatellite" style="width:243px;height:243px;"><span>8.9319 x 10<sub>22</sub> kg<br><span>122%</span></span></div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count10 sc-first sc2-first">
   <h3>Densité de Io</h3>
   <p>La densité de Io est de 3,528&nbsp;g/cm<sub>3</sub>. C'est 106% de la densité de la Lune soit 6% plus dense que la Lune et 64% de la densité de la Terre soit 36% de moins que la Terre.</p>
</div>
<div class="sc sc2 sc-count11 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Densité de Io comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune">
         <div style="
            width: 100px;
            height: 100px;
            background: #000 url(files/planetes/densite-satellite.png) center center repeat;
            background-size: 10%;
            border: 2px solid #aaa;
            border-radius: 100%;
            margin-top: 25%;
            margin-left: 25%;
            box-shadow: inset 0px 0 30px #000"></div>
         <span style="margin-top:0">3,344 g/cm<sub>3</sub></span>
      </div>
      <div class="divsatellite" style="
         width: 200px;
         height: 200px;">
         <div style="
            width: 100px;
            height: 100px;
            background: #000 url(files/planetes/densite-satellite.png) center center repeat;
            background-size: 9.4497607655502%;
            border: 2px solid #aaa;
            border-radius: 100%;
            margin-top: 25%;
            margin-left: 25%;
            box-shadow: inset 0px 0 30px #000"></div>
         <span style="margin-top:0">3.528 g/cm<sub>3</sub><br><span>106%</span></span>
      </div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count12 sc-first sc2-first">
   <h3>Gravité de Io</h3>
   <p>La gravité de surface de Io est de 1,796&nbsp;m/s<sub>2</sub> et la vitesse de libération est de 8&nbsp;552&nbsp;km/h.</p>
   <p>Comparé à la force de gravité sur Terre, la gravité de Io ne représente que 18,31% de la gravité terrestre soit 82% de moins que sur la Terre.<br>Autrement dit, une masse de 100 kg sur Terre ne pèserait que 18,31 kg sur&nbsp;Io.</p>
   <p>La vitesse de libération, c'est à dire la vitesse minimale nécessaire pour s'arracher de l'attraction de Io est de 8&nbsp;552&nbsp;km/h. C'est 21,23% de la vitesse de liberation terrestre soit 79% de moins que pour la Terre (40&nbsp;284 km/h).</p>
</div>
<div class="sc sc2 sc-count13 sc-last sc2-last sc-close sc-wrapper">
   <style>.divbalance {width:400px;height:189px;display:block;background:#fff url(files/planetes/balance.jpg) top left no-repeat;background-size:100%;position:relative}.masseterre, .massesatellite{position:absolute;top:14%;font-family:monospace;font-weight:bold;color:#fff}.masseterre {left:18%}.massesatellite {right:15%}</style>
   <h4 class="rapporth4">Gravité de Io comparé à la Terre</h4>
   <div class="divbalance"><span class="masseterre">100 kg</span><span class="massesatellite">18.31 kg</span></div>
   <style>
      .divwrapgravite 
      {
      height:400px;
      position:relative;
      border-bottom: 2px solid #333;
      }
      .divterregravite, .divsatellitegravite 
      {
      position:absolute;
      bottom:0;
      }
      .divsatellitegravite 
      {
      background: -webkit-radial-gradient(20px 20px, circle, #ff6600, #000);
      background: -moz-radial-gradient(20px 20px, circle, #ff6600, #000);
      background: -ms-radial-gradient(20px 20px, circle, #ff6600, #000);
      background: radial-gradient(20px 20px, circle, #ff6600, #000);
      }				
      .divterregravite
      {
      background: -webkit-radial-gradient(20px 20px, circle, #2E70B8, #000);
      background: -moz-radial-gradient(20px 20px, circle, #2E70B8, #000);
      background: -ms-radial-gradient(20px 20px, circle, #2E70B8, #000);
      background: radial-gradient(20px 20px, circle, #2E70B8, #000);
      }
      .divterregravite 
      {
      left:20%;
      animation: bounceterre 1s ease infinite;
      }
      .divsatellitegravite 
      {
      right:20%;
      animation: bouncesatellite 5.4602728285078s ease infinite;
      }
      @-webkit-keyframes bounceterre
      {
      from {bottom: 0;-webkit-animation-timing-function: ease-out;}
      50%  {bottom: 50px;-webkit-animation-timing-function: ease-in;}
      to   {bottom: 0;-webkit-animation-timing-function: ease-out;}
      }
      @-moz-keyframes bounceterre
      {
      from {bottom: 0;-moz-animation-timing-function: ease-out;}
      50%  {bottom: 50px;-moz-animation-timing-function: ease-in;}
      to   {bottom: 0;-moz-animation-timing-function: ease-out;}
      }
      @-ms-keyframes bounceterre
      {
      from {bottom: 0;-ms-animation-timing-function: ease-out;}
      50%  {bottom: 50px;-ms-animation-timing-function: ease-in;}
      to   {bottom: 0;-ms-animation-timing-function: ease-out;}
      }
      @keyframes bounceterre
      {
      from {bottom: 0;animation-timing-function: ease-out;}
      50%  {bottom: 50px;animation-timing-function: ease-in;}
      to   {bottom: 0;animation-timing-function: ease-out;}
      }
      @-webkit-keyframes bouncesatellite
      {
      from {bottom: 0;-webkit-animation-timing-function: ease-out;}
      50%  {bottom: 273.01364142539px;
      -webkit-animation-timing-function: ease-in;}
      to   {bottom: 0;-webkit-animation-timing-function: ease-out;}
      }
      @-moz-keyframes bouncesatellite
      {
      from {bottom: 0;-moz-animation-timing-function: ease-out;}
      50%  {bottom: 273.01364142539px;
      -moz-animation-timing-function: ease-in;}
      to   {bottom: 0;-moz-animation-timing-function: ease-out;}
      }
      @-ms-keyframes bouncesatellite
      {
      from {bottom: 0;-ms-animation-timing-function: ease-out;}
      50%  {bottom: 273.01364142539px;
      -ms-animation-timing-function: ease-in;}
      to   {bottom: 0;-ms-animation-timing-function: ease-out;}
      }
      @keyframes bouncesatellite
      {
      from {bottom: 0;animation-timing-function: ease-out;}
      50%  {bottom: 273.01364142539px;
      animation-timing-function: ease-in;}
      to   {bottom: 0;animation-timing-function: ease-out;}
      }
   </style>
   <div class="divwrapgravite">
      <div class="divterregravite" style="width:40px;height:40px;border-radius:100%"></div>
      <div class="divsatellitegravite" style="width:40px;height:40px;border-radius:100%"></div>
   </div>
</div>
<div class="sc-clear"></div>

