<h1>La Lune</h1>
<p class="rtecenter"><img alt="La Lune" src="public/img/lune.jpg" width="500" height="275"></p>
<div class="resume">
   <div><strong>Taille</strong>&nbsp;: 3474,8 km de diamètre</div>
   <div><strong>Masse</strong>&nbsp;: 7,36 × 10²² kg (environ 74 milliards de millions de tonnes)</div>
   <div><strong>Distance par rapport à la Terre</strong>&nbsp;: 384 500 km</div>
   <div><strong>Température</strong>&nbsp;: Entre -163°C et 120°C</div>
   <div><strong>Temps pour l’atteindre</strong>&nbsp;: 3 jours de vol dans l’espace.</div>
   <div><strong>1 jour lunaire</strong>&nbsp;: 27 jours terrestres
      <div><strong>En résumé&nbsp;:</strong></div>
      <div align="justify">La Lune est quatre fois plus petite que la Terre, et 81 fois plus légère. C’est l’objet
         céleste le plus proche de nous et le deuxième corps le plus brillant dans le ciel.</div>
   </div>
</div>
<p>Depuis des milliards d’années, la Lune est la fidèle compagne de notre berceau, la Terre. Depuis
   toujours, sa présence est pour nous un réconfort. Elle a permis à beaucoup d’hommes de se repérer la nuit. C’est un
   astre si proche de nous que 12 hommes y ont déjà posé le pied&nbsp;! La Nasa envisage même d’y installer une station
   permanente.</p>
<p> Sans la Lune, il est probable que la vie telle que nous la connaissons n’ait jamais pu voir le jour sur Terre.
   Malgré le fait que la Lune ne soit que notre satellite naturel, son influence sur notre planète est immense.</p>
<p> C’est elle qui organise le va-et-vient incessant des marées, grâce à sa <strong>force gravitationnelle</strong>.
   C’est sa force qui maintient la Terre sur son axe légèrement penché, permettant l’existence des saisons. Sans la
   Lune, notre Terre serait un monde déchaîné par les vents violents et les cataclysmes, et seule une forme de vie
   primitive serait capable de résister à un tel climat.</p>
<p> Au fil des milliards d’années, la force gravitationnelle de la Lune a ralenti la vitesse de rotation de la Terre
   qui à l’origine était de 6 heures, et qui aujourd’hui est de 24 heures. Et ce ralentissement de la rotation
   terrestre n’est pas terminé&nbsp;: dans quelques milliards d’années, la durée d’un jour terrestre sera multipliée
   par cinquante.</p>
<div>Mais d’où vient ce phénomène&nbsp;? En réalité, la force qu’exerce la Lune sur les océans provoque des renflements
   de part et d’autre de la Terre, qui ont pour conséquence de ralentir sa rotation. C’est donc le mouvement incessant
   des marées qui réduisent la vitesse de rotation de la Terre.
   <p> De plus, ce ralentissement de la rotation terrestre provoque un autre phénomène&nbsp;: l’éloignement de la Lune
      par rapport à la Terre, et c’est ce qui explique que les jours sont plus longs aujourd’hui qu’il y a plusieurs
      milliards d’années, et que dans quelques milliards d’années une journée durera beaucoup plus que 24 heures...<br>
      &nbsp;</p>
</div>
<div>Il faut 27 jours à la Lune pour parcourir son orbite, c’est-à-dire sa rotation autour de la terre. Elle a une face
   constamment éclairée. Depuis la Terre, la surface éclairée de la lune grandit chaque jour&nbsp;: <strong>c’est pour
      cela qu’on voit des croissants de lune</strong>.</div>
<h2>Formation de la lune</h2>
<p>On pense que la Lune s’est formée suite à l’impact d’un astéroïde gros comme la moitié de la Terre. Un anneau de
   débris s’est alors mis en orbite autour de la Terre, et la Lune se serait formée à partir du morceau de Terre éjecté
   suite à l’impact et des débris alentour.</p>
<div>4,5 Milliards d’années plus tard, la Lune porte toujours les cicatrices de cet impact gigantesque. On peut en
   effet y observer un nombre incalculable de cratères, ainsi que de très larges taches sombres, que l’on appelle des
   mers.
</div>
<h3>Mais d’où viennent ces mers&nbsp;?</h3>
<div>Les premiers observateurs de la Lune ont nommé ces grandes taches sombres des "<strong>mers</strong>", car ils
   pensaient qu’il s’agissait d’océans d’eau comme sur Terre. Ces observateurs du 17e siècle ont donné à ces "mers" des
   noms calqués sur certains phénomènes terrestres attribués à la Lune&nbsp;: <strong>mer des Crises</strong>, <strong>mer
      de la Tranquillité</strong>, mer de la Sérénité, Mer des tempêtes, etc.
   <p> Ces mers ont été formées à une époque ou l’intérieur de la Lune était liquide (lave en fusion). Lorsque de gros
      météorites la percutaient, des trous gigantesques se formaient, et des couches de lave jaillissant de l’intérieur
      venaient les inonder pour ensuite se solidifier en une mer de basalte.<br>
      &nbsp;</p>
</div>
<div>On pense que les innombrables bombardements de météorites ont cessé il y a environ trois milliards d’années, et
   lorsqu’on regarde la Lune aujourd’hui, on regarde un vestige du passé&nbsp;: tous les impacts sont restés intacts,
   car aucun vent, ni aucune atmosphère n’étant présente sur la Lune, il ne peut y avoir la moindre érosion.</div>
<h2>Caractéristiques de la Lune</h2>
<p><strong>La lune est un endroit désolé</strong>, vide et stérile, sans air, ni eau, ni végétation. Le jour, la
   température peut grimper jusqu’à&nbsp;120°C, et la nuit elle retombe jusqu’à -163°C. Le changement de température
   est très brutal.</p>
<div>La gravité présente sur la Lune correspond à 1/6éme de celle de la Terre. Cela signifie qu’un homme de 80 kg sur
   Terre ne pèsera plus que 13 kg sur la Lune. C’est à cause de cette faible gravité que l’on a pu voir les hommes qui
   ont foulé le sol de la Lune faire des bonds de géants&nbsp;!</div>
<div>&nbsp;</div>
<div><strong>La Lune n’a aucune atmosphère</strong>. Cela signifie que si vous allez sur la Lune, vous aurez beau
   crier, personne ne vous entendra, car il n’y a pas d’air pour transporter le son. Le seul moyen de communiquer se
   ferait à l’aide de radios. L’absence d’atmosphère sur la Lune est aussi la raison pour laquelle le ciel est toujours
   noir, car le spectre de lumière du soleil sur Terre est divisé par les molécules d’air, ce qui nous donne un ciel
   bleu.
   <p> Vivre sur la Lune est impossible sans combinaison adaptée. La combinaison spatiale protège des températures
      extrêmes, des radiations solaires et de l’absence d’oxygène.<br>
      &nbsp;</p>
</div>
<div>Sur Terre, il y a souvent des pluies de météorites. Lorsque ces météorites traversent notre atmosphère, elles
   brûlent pour donner ce que l’on appelle couramment des étoiles filantes. Ces météorites tombent également sur la
   Lune à toute vitesse. Mais comme il n’y a aucune atmosphère, ces météorites viennent directement s’écraser sur le
   sol lunaire. C’est très dangereux pour les astronautes.<br>
   &nbsp;</div>
<div>Toutes proportions gardées, la Lune est un satellite gigantesque par rapport aux autres satellites du système
   solaire. La plupart des autres satellites sont beaucoup plus petits que la planète autour de laquelle ils
   orbitent. Or la Lune n’est que quatre fois plus petite que la Terre<strong>, ce qui en fait un objet céleste
      exceptionnel</strong>.<br>
   &nbsp;</div>
<div>La taille de la Lune est si grosse par rapport à notre planète que certains scientifiques ont émis l’idée que le
   couple Terre-Lune formait presque une planète double, dans un système binaire. Si l’on observait au télescope la
   Terre et la Lune depuis une autre planète, on verrait deux sphères presque identiques, tandis que lorsque l’on
   observe Jupiter, on voit à quel point ses satellites sont petits en comparaison.<br>
   &nbsp;</div>
<div>La surface de la lune est composée en grande partie d’une fine poussière de basalte qui s’est avérée assez
   problématique lorsque les astronautes sont allés sur la Lune. Cette fine poudre collait à leurs équipements et
   s’introduisait dans leurs combinaisons.<br>
   &nbsp;</div>
<div><strong>Comment se fait-il qu’il y ait des montagnes de plusieurs milliers de mètres sur la Lune, alors qu’il n’y
      existe aucune plaque tectonique&nbsp;?</strong> Ces montagnes se sont formées suite à de gigantesques impacts de
   météorites qui ont expulsé la matière lunaire vers l’extérieur.
</div>
<h2>La lune tourne-t-elle sur elle-même&nbsp;?</h2>
<p><strong>La lune tourne sur elle-même, une fois tous les 27 jours</strong>. Un jour lunaire correspond donc à 27
   jours sur terre. La Lune tourne sur elle-même à la même vitesse qu’elle fait un tour de terre&nbsp;: c’est pour
   cette raison qu’on en voit toujours la même face et que l’on parle de la face cachée de la Lune.</p>
<div>La technologie nous permet aujourd’hui de voir et d’étudier la Lune comme jamais auparavant. Mais bien avant que
   l’on dispose de ces moyens sophistiqués, l’observation de la Lune a toujours été d’une importance capitale pour les
   habitants de la planète Terre.</div>
<div>&nbsp;</div>
<div>Depuis 1500 ans, la Lune est considérée comme une source de lumière, comme un guide pour la navigation et comme un
   calendrier naturel. Avant l’invention des dispositifs de mesure actuels, il n’était pas simple de mesurer le
   temps&nbsp;: soit on utilisait le Soleil, soit la Lune. Autrefois, pour pouvoir déterminer une date en utilisant un
   calendrier solaire (comme nous le faisons aujourd’hui avec 365 jours par an), il fallait consigner chaque journée,
   ce qui est une tâche très difficile à accomplir.<br>
   &nbsp;</div>
<div>Il est plus simple d’utiliser un calendrier lunaire, car on remarque aisément les différentes phases
   lunaires&nbsp;: pleine Lune (Lune entièrement visible), nouvelle Lune (Lune invisible). Comme il y a dans un cycle
   lunaire 28 à 29 jours, c’est beaucoup plus facile à compter, ce qui explique pourquoi la plupart des civilisations
   ont d’abord utilisé des calendriers lunaires pour mesurer le temps...<br>
   &nbsp;</div>
<div>Autrefois, les observateurs ont remarqué que la Lune avait une influence physique sur la Terre. C’est elle qui
   orchestre le mouvement des marées. Les marées sont effectivement provoquées par l’attraction gravitationnelle de la
   Lune, qui attire l’eau de la Terre vers elle, ce qui crée un léger renflement dans sa direction. Mais il existe
   systématiquement un deuxième renflement dans la direction opposée à la Lune.<br>
   &nbsp;</div>
<div>Chaque jour, il y a donc deux marées hautes. Cette deuxième marée est provoquée par la force centrifuge de la
   Terre&nbsp;: comme la Terre et la Lune sont en rotation, la force qui les anime pousse l’eau qui se trouve de
   l’autre côté à aller vers l’extérieur.
</div>
<div>Pour certaines espèces animales, le flux et le reflux incessants de l’océan provoquent une érosion forte des
   roches, ce qui leur crée des abris très utiles.</div>
<div>La force de gravitation qu’exerce la Lune sur la Terre est ce qui permet à toute vie terrestre d’exister&nbsp;! En
   effet, cette force permet de stabiliser le climat terrestre en maintenant l’inclinaison de l’axe de rotation de la
   Terre. C’est cette inclinaison qui nous permet à tous de vivre au rythme des saisons. Sans cette inclinaison, la
   Terre ne connaitrait pas de saison, et nous ne serions probablement pas ici pour en parler...</div>
<div>&nbsp;</div>
<div>Si la Lune n’existait pas, ou si elle était trop petite, l’inclinaison du pôle Nord serait totalement différente,
   ce qui aurait pour effet de modifier de façon complètement anarchique l’inclinaison de l’axe de rotation de la
   Terre. Il en résulterait alors une totale dérégulation du climat, et vivre sur une telle planète serait un
   enfer&nbsp;!</div>
<h2>Origine de la Lune</h2>
<p>Au fil du temps, la présence imposante de notre astre dans le ciel a&nbsp;poussé les hommes à s’interroger sur son
   origine. Il y a plus de 2000 ans, certaines théories grecques expliquaient qu’un morceau de la Terre s’en serait
   détaché pour former la Lune. Mais à l’époque, la Lune était un objet plutôt vu comme une boule de feu, ou encore un
   Dieu.</p>
<div>La question sur l’origine de la Lune a longtemps été source d’intrigue. Au 17e siècle, l’astronome italien Galilée
   pointe sa lunette astronomique en direction de la Lune. Il y découvre le sol d’un autre monde. Observer la Lune
   dans un télescope est très différent de ce que l’on voit à l’œil nu.</div>
<div>&nbsp;</div>
<div><strong>La Lune au télescope nous permet de nous rendre compte de la réalité de cet objet</strong>&nbsp;: une
   gigantesque boule criblée de cratères, alors que durant des millénaires, c’était quelque chose de très mystérieux.
   Galilée a&nbsp;dessiné en détail ses observations de la Lune, et a établi qu’elle n’était ni un Dieu ni une boule de
   feu.</div>
<h3>Théorie de la co-accrétion</h3>
<div>En 1873, la première théorie sur l’origine de la Lune, basée sur des preuves scientifiques, est dévoilée. Elle a
   été imaginée par l’astronome français Edouard Roche, qui explique que la <strong>Terre et la Lune se sont formées en
      même temps</strong>, à partir des mêmes matériaux&nbsp;: c’est la théorie de la co-accrétion.<br>
   &nbsp;</div>
<div>Edouard Roche décrivait le couple Terre-Lune comme un mini système solaire. Il pensait que la Terre était une
   boule de gaz qui en refroidissant se serait contractée en rependant un cercle de gaz tout autour d’elle pour former
   la Lune.<br>
   &nbsp;</div>
<div>Cependant, il y a un problème avec cette théorie&nbsp;: la Lune contient bien moins de fer que la Terre, ce qui ne
   devrait pas être le cas si ces deux astres étaient issus des mêmes matériaux. Contrairement à la Lune, la Terre
   contient un noyau de fer. La Lune ressemble plus à un bloc de roche. Si la Lune était formée avec le même matériau
   que la Terre, elle devrait contenir la même quantité de fer&nbsp;; c’est le seul point qu’Edouard Roche ne peut
   expliquer avec sa théorie.</div>
<h3>Théorie de la fission</h3>
<div>Une autre idée assez proche de la théorie de la co-accrétion voit le jour en 1878&nbsp;: la théorie de la fission
   par George Darwin (fils de Charles Darwin).</div>
<div>George Darwin a marqué la communauté scientifique pour ses recherches sur le phénomène des marées. Il a déterminé,
   en analysant le mouvement des marées, que la Lune s’éloignait progressivement de la Terre.<br>
   &nbsp;</div>
<div>Cette théorie sur l’éloignement de la Lune sera prouvée un siècle plus tard lorsque les premiers hommes y poseront
   le pied. Ils ont installé de petits miroirs sur le sol lunaire, puis un faisceau laser a été envoyé depuis la Terre
   pour se refléter dans ces miroirs. <strong>La distance exacte entre la Terre et la Lune a ainsi pu être calculée.</strong>
   Et on a remarqué que cette distance augmente d’un peu plus de trois centimètres par an&nbsp;!<br>
   &nbsp;</div>
<div>Darwin a réfléchi à ce qui se passerait si l’on inversait le processus, en faisant tourner la Lune et la Terre en
   sens inverse. Il a conclu mathématiquement que la Lune et la Terre étaient incroyablement proches à une époque très
   lointaine. Leur vitesse de rotation était beaucoup plus rapide qu’aujourd’hui. Mais ses calculs mathématiques n’ont
   pas permis de démontrer que les deux astres ont été en contact. Ses calculs se sont arrêtés à une époque où&nbsp;la
   Lune se trouvait à environ 8000 km de la Terre (contre 380 000 aujourd’hui).<br>
   &nbsp;</div>
<div>Durant des années, les scientifiques ont étudié et débattu sur l’hypothèse de la fission. Ils ont fini par
   conclure que la fission ne pouvait pas engendrer le mouvement relatif entre la Terre et la Lune.</div>
<h3>Théorie de la capture</h3>
<div>En 1910, Thomas Jefferson Jackson See, doctorant en astronomie, étudie les théories sur l’origine de la Lune, mais
   n’est pas convaincu. Il va élaborer sa propre théorie, radicalement différente, dénommée "théorie de la capture".<br>
   &nbsp;</div>
<div>Cette théorie affirme que la Lune s’est formée très loin de la Terre, aux confins du système solaire, orbitant
   autour du soleil comme les autres planètes. Elle serait passée trop près de la Terre et aurait été capturée par la
   gravitation terrestre.<br>
   &nbsp;</div>
<div>Cette théorie permet d’expliquer pourquoi la Terre et la Lune n’ont pas la même quantité de fer&nbsp;: en effet,
   si la Lune s’est formée ailleurs, sa composition peut être bien différente de la Terre. Cependant, il est très peu
   probable que la force gravitationnelle de la Terre puisse capturer un objet aussi énorme que la Lune.<br>
   &nbsp;</div>
<div><strong>Ces trois théories contiennent toutes des incohérences, et aucune ne prouve réellement comment la lune
      s’est formée.</strong></div>
<h3>Théorie de l’impact géant</h3>
<div><strong>C’est la théorie actuellement retenue par le monde scientifique</strong>, car c’est celle qui compte le
   moins d’incohérences. Elle a été avancée par William Hartmann, astronome de renom, et peintre spécialisé dans les
   représentations de l’espace. En 2014, cette théorie a été confirmée par un groupe de chercheurs allemands qui ont
   publié leurs travaux dans la revue science.<br>
   Cette théorie voit le jour en 1974. Elle explique qu’il y a 4 milliards d’années, la Terre est entrée en collision
   avec une planète d’à peu près la taille de Mars.
   <p> Ce choc absolument gigantesque a entraîné la rotation de la Terre. La collision a été tellement forte qu’une
      grande partie de matière a été projetée en orbite autour de la Terre, et se serait par la suite amalgamée pour
      former la Lune. Il semblerait qu’avant la collision, la Terre était partiellement en fusion. En percutant la
      Terre, l’autre planète se serait complètement désagrégée en formant un grand jet de matière autour de la Terre.
      Le processus de formation de la Lune aurait mis moins d’un an après la collision à s’achever.</p>
</div>
<div>Cette théorie a été avancée lorsque des hommes sont allés sur la lune entre 1969 et 1972 et ont rapporté sur Terre
   des échantillons de roche lunaire. Cette roche ressemble beaucoup au sol terrestre, mais contient beaucoup moins de
   fer. C’est cette particularité qui montre que la Lune est née d’une collision.</div>
<h2>Scénario d’apparition de la Lune</h2>
<p>Il y a 4,5 milliards d’années, la Lune n’existe pas encore et le jeune système solaire compte à peu près deux fois
   plus de planètes qu’aujourd’hui. Beaucoup d’entre elles seront détruites suite à des collisions mutuelles.</p>
<div>Mais il en existe une, que l’on appelle <strong>Théia </strong>(ou Orphée) et dont la taille est deux fois plus
   petite que la Terre, qui s’approche dangereusement de la toute jeune Terre. La collision entre ces deux mondes
   déploie une énergie inconcevable.</div>
<div>Si un humain avait pu observer la course de Théia depuis la Terre, il aurait d’abord vu un objet de la taille
   d’une étoile grossissant de plus en plus. Juste avant l’impact, le ciel est entièrement caché par cet objet
   monstrueux. Lors de l’impact, notre humain n’existe plus, et il ne reste plus qu’une lumière blanche gigantesque.<br>
   &nbsp;</div>
<div>On considère que le diamètre de Théia était d’à peu près 6500 km (taille de la planète Mars). À titre de
   comparaison, sachez que l’astéroïde responsable de la disparition des dinosaures ne mesurait que 10 km de
   diamètre&nbsp;!<br>
   &nbsp;</div>
<div>La vitesse de déplacement de Théia est de 40&nbsp;000 km à l’heure. Juste avant l’impact, la force de gravité des
   deux planètes arrache littéralement leurs manteaux respectifs.<br>
   &nbsp;</div>
<div>Lorsque les deux astres entrent en collision, l’énergie dégagée correspond à plusieurs milliards de bombes
   nucléaires. Une quantité phénoménale de roche est projetée dans l’espace. Cette matière éjectée forme alors autour
   de la Terre un anneau de poussière et de roche, un peu comme on peut le voir sur la planète Saturne.
   <strong>Le processus d’accrétion s’engage</strong>&nbsp;: des morceaux de matière se mélangent pour former des blocs
   de roche de plus en plus massifs.<br>
   &nbsp;</div>
<div>Tous ces débris qui s’agglomèrent forment une boule de roche de plus en plus massive dont la gravité augmente au
   fur et à mesure qu’elle grossit, entraînant une réaction en chaîne&nbsp;: petit à petit, la majorité des morceaux de
   roche viennent se coller à cette boule gigantesque et finissent par former notre Lune.<br>
   &nbsp;</div>
<div>Lorsque la Lune s’est formée, elle se situait aux alentours de 150&nbsp;000 km de la Terre. Mais le mouvement des
   marées l’a depuis entraînée de plus en plus loin de la Terre&nbsp;: elle se situe aujourd’hui à plus de 384&nbsp;000
   km de nous.</div>
<h2>Un monde sans Lune</h2>
<div><strong>Que se passerait-il si nous n’avions pas de Lune&nbsp;? </strong></div>
<div>C’est lors des premières centaines d’années de son apparition que la Lune a eu des conséquences primordiales pour
   la Terre. La collision entre Théia et la Terre a&nbsp;été d’une telle puissance qu’elle a&nbsp;fait perdre
   l’équilibre à la Terre, dont l’axe s’est alors incliné d’un peu plus de 23 degrés par rapport au plan orbital. Grâce
   à cette inclinaison, nous bénéficions du phénomène des saisons, un phénomène majeur à l’existence de la vie.<br>
   &nbsp;</div>
<div>Si l’axe de rotation de la Terre était resté vertical comme sur Mercure, les saisons n’existeraient pas. Tous nos
   continents alterneraient inévitablement entre 12 heures de nuit et 12 heures de soleil par jour.</div>
<div>L’équateur serait condamné à rester sous une chaleur et un soleil éternels. Quant aux deux pôles terrestres, ils
   seraient à jamais plongés dans une nuit glaciale.<br>
   &nbsp;</div>
<div>La Lune permet un maintien&nbsp;fondamental de la Terre sur son axe. Sans la Lune, la Terre aurait une obliquité
   chaotique (oscillation perpétuelle de l’axe)&nbsp;: elle serait condamnée à changer d’axe en permanence, comme sur
   Vénus. En outre, cette obliquité chaotique provoquerait en permanence de fortes perturbations climatiques.<br>
   &nbsp;</div>
<div><strong>Sans notre stabilisateur naturel qu’est la Lune</strong>, notre météo serait complètement déchaînée et la
   distribution de la lumière du soleil serait radicalement différente de ce que nous connaissons aujourd’hui.
   L’antarctique serait un désert vide, alors que les tropiques seraient recouverts de glace. Des vents d’une vitesse
   inouïe et des cyclones gigantesques balaieraient en permanence les quatre coins du globe. Dans un monde aussi
   dévasté, la vie n’aurait pas sa place.</div>
<div>
   <h2>Les cratères de la Lune</h2>
</div>
<div><strong>Les cratères innombrables</strong> que l’on peut observer sur la surface de la Lune témoignent d’un passé
   extrêmement violent. Il en existe plus de 300&nbsp;000. Leurs diamètres peuvent se situer entre 800 mètres et plus
   de 800 km. Ces cratères sont dus à l’impact de centaines de milliers de météorites.<br>
   &nbsp;</div>
<div>La plupart de ces cratères ont tous été formés à une période ou l’activité météoritique du système solaire était
   très importante. Il y a environ quatre milliards d’années, les planètes Jupiter et Saturne sont parfaitement
   alignées. Cet alignement exceptionnel crée un effet lance-pierre qui conduit une nuée impressionnante d’astéroïdes
   tout droit vers la Terre.<br>
   &nbsp;</div>
<div>Pendant plusieurs millions d’années, des astéroïdes vont constamment bombarder l’ensemble du système solaire. La
   Terre ne sera pas épargnée par ce bombardement&nbsp;: en effet, elle en a subi autant que la Lune.<br>
   &nbsp;</div>
<div><strong>Pourquoi ne voit-on pas les mêmes traces d’impacts que sur la Lune&nbsp;?</strong></div>
<div>Tout simplement parce que la Terre possède une atmosphère et qu’il y règne des conditions climatiques qui créent
   l’érosion de sa surface au fil des millions d’années.<br>
   &nbsp;</div>
<div>Même si dans un lointain passé la Terre a été criblée d’impacts de météorites, la plupart de ces traces se sont
   peu à peu effacées avec le temps, ce qui n’est pas le cas de la Lune.<br>
   &nbsp;</div>
<div>Sans atmosphère et sans le moindre vent, la Lune conserve toutes ses cicatrices du passé. Si l’on retourne sur la
   Lune, on pourra sans problème observer les traces de pas intactes des premiers hommes qui ont foulé son sol entre
   1969 et 1972&nbsp;!<br>
   &nbsp;</div>
<div>Suite à ce cataclysme lunaire, 80% de la surface lunaire a été détruite. Des mers de lave ont été créées avec du
   basalte en fusion. Elles ont mis plusieurs millions d’années pour refroidir et donner ce que l’on voit aujourd’hui
   sur la surface de la Lune&nbsp;: les mers (mer des pluies, mer de la tranquillité, etc.).<br>
   &nbsp;</div>
<div>Durant le cataclysme lunaire, certaines collisions sont tellement fortes qu’elles projettent dans l’espace des
   roches lunaires qui iront s’écraser sur Terre. Cette hypothèse a été vérifiée, car on a trouvé sur Terre une
   certaine quantité d’échantillons faits de la même matière que la Lune, qui attestent l’existence du cataclysme
   lunaire. Ces échantillons de roche sont plus anciens que n’importe quelle autre roche terrestre.
</div>
<div>Il semble probable que certains astéroïdes qui se sont écrasés sur Terre aient été assez violents pour pouvoir
   projeter dans l’espace une certaine quantité de roche terrestre qui aurait ensuite été attirée vers la Lune. Si tel
   est le cas, on pourrait retrouver sur la Lune des échantillons de cette roche terrestre. Contrairement à ce qui se
   passe sur Terre avec l’érosion, cette matière terrestre serait préservée sur la Lune. Et une telle trouvaille nous
   permettrait peut-être d’élucider le mystère de nos origines&nbsp;!</div>
<div>
   <h2>La naissance des marées sur Terre</h2>
</div>
<div>La Lune, avec le mouvement des marées qui est de son fait, <strong>a largement participé à l’apparition de la vie
      sur Terre</strong>. Il y a trois milliards d’années, l’orbite de la Lune est à plus de 300&nbsp;000 kilomètres de
   la Terre. Même si elle a un effet gravitationnel moins puissant qu’auparavant, elle exerce néanmoins un pouvoir
   énorme sur la terre.<br>
   &nbsp;</div>
<div>Désormais toute la surface du globe terrestre est recouverte d’eau, et la Lune y met une très forte agitation,
   c’est le mouvement des marées. Vu que la Lune est encore assez proche de la Terre, elle crée des marées qui
   atteignent plusieurs centaines de mètres de haut.</div>
<div>En réalité, à cette époque, la force des marées était mille fois plus importante qu’aujourd’hui. Elles pouvaient
   déferler sur les terres à une hauteur de 3000 mètres, aussi haut qu’une montagne&nbsp;!<br>
   &nbsp;</div>
<div>Lors du ressac, des débris de la terre étaient engloutis dans les profondeurs océaniques. Ce mélange contenait des
   substances nutritives ainsi que des minéraux. Ce cocktail créera ce que l’on nomme aujourd’hui «&nbsp;la soupe
   primordiale&nbsp;», la base de toute vie.</div>
<div>Beaucoup de scientifiques pensent que la vie aurait pu ne jamais apparaître s’il n’y avait pas eu cette soupe
   primordiale provoquée par la force gravitationnelle de la Lune.<br>
   &nbsp;</div>
<div>Le mouvement des marées engendré par la Lune a également permis au climat terrestre de se calmer grâce au
   ralentissement de la rotation de la Terre. C’est également un facteur clé à l’apparition de la vie sur notre
   planète.</div>
<div>
   <h2>Les phases lunaires</h2>
</div>
<div>La Lunaison (ou période synodique) correspond aux 29,5 jours que la Lune met pour accomplir une révolution
   complète. Lors de ce cycle, on a l’impression que la Lune change d’apparence.</div>
<ul>
   <li>Lorsque la Lune est placée entre le soleil et la Terre, on ne la voit plus, il s’agit de la <strong>nouvelle
         lune</strong>.<br>
      &nbsp;</li>
   <li>Lorsqu’elle se déplace sur son orbite, on commence à en voir une partie qui s’illumine progressivement. C’est le
      <strong>croissant de Lune</strong>.<br>
      &nbsp;</li>
   <li>Alors qu’elle continue sur son orbite, on finit par voir toute une moitié éclairée. Il s’agit du <strong>premier
         quartier</strong>.<br>
      &nbsp;</li>
   <li>Lorsque la Lune se situe à l’opposé du soleil par rapport à nous, il s’agit de la <strong>pleine Lune</strong>.
      Toute sa face est visible, car éclairée par le soleil.<br>
      &nbsp;</li>
   <li>La Lune continue alors sa révolution orbitale et recommence à s’assombrir progressivement, jusqu’à ce qu’elle
      soit invisible de moitié, c’est le <strong>dernier quartier</strong>.<br>
      &nbsp;</li>
</ul>

<h2>Au temps des dinosaures</h2>
<p>Contrairement à ce que l’on croyait jusqu’à présent, la Lune est un corps qui a connu une activité volcanique il n’y
   a pas si longtemps.</p>
<p>Alors que les scientifiques la pensaient morte depuis au moins un milliard d’années, une équipe de la Nasa a
   déterminé il y a peu que des volcans crachaient leurs flammes sur la Lune alors que les dinosaures foulaient le sol
   terrestre.</p>
<p>C’est la sonde LRO (Lunar Reconnaissance Orbiter) qui a mis en évidence plusieurs dizaines de régions lunaires sur
   lesquelles certaines coulées de roche basaltiques&nbsp;ont seulement 18 millions d’années.</p>
<div>
   <h2>L’avenir de la Lune</h2>
</div>
<div>Dans le ciel, le Soleil et la Lune semblent avoir exactement la même taille. C’est la distance de ces deux objets
   par rapport à la Terre qui nous donne cette illusion. Et c’est grâce à cette illusion qu’à notre époque il est
   possible d’observer les plus belles éclipses de Soleil.<br>
   &nbsp;</div>
<div>Mais qu’en sera-t-il dans le futur, dans plusieurs millions, voire milliards d’années&nbsp;? La Lune s’éloignant
   progressivement de la Terre, il arrivera forcément un moment dans l’avenir ou les éclipses n’existeront plus.<br>
   &nbsp;</div>
<div>Dans deux milliards d’années, la Lune se sera tellement éloignée de la Terre qu’elle ne sera plus en mesure de la
   maintenir sur son axe. L’axe de la Terre se mettra alors à osciller dans tous les sens, provoquant une instabilité
   climatique sans précédent. À ce moment-là, la vie sur Terre sera menacée comme jamais.<br>
   &nbsp;</div>
<div>Dans 5,5 milliards d’années, le Soleil atteindra la fin de son existence. Il grossira de plus
   en plus, et finira par avaler la Terre, ainsi que la Lune…</div>
<div>&nbsp;</div>
<div>
   <div>
   </div>