<div class="ce_text first block sc sc2 sc-count0 sc-first sc2-first" id="venus">
   <h1>La planète Neptune ♆</h1>
   <p>La planète Neptune est une planète géante de glace, comme Uranus, leurs compositions internes et leurs atmosphères sont similaires.</p>
   <p>Neptune est la 8<sup>e</sup> planète du Système solaire en partant du Soleil et c’est aussi la plus éloignée.</p>
   <p>Neptune est de couleur bleue et présente des turbulences atmosphériques bien plus marquées qu’Uranus. En outre, Neptune présente des bandes nuageuses blanches et de gigantesques ouragans similaires à la Grande tâche rouge de Jupiter bien qu’ils n’aient pas la même couleur.</p>
   <p>Neptune possède 5 anneaux planétaires ténus et peu brillants ainsi que 14 satellites naturels dont 1 seul, Triton, est de taille significative avec 2707 km de diamètre, tous les autres satellites font moins de 500 km.</p>
   <p>Neptune connaît les vents les plus rapides du système solaire avec des vitesses pouvant aller jusqu’à 2100 km/h&nbsp;! C’est près de 6 fois la vitesse du son sur Terre&nbsp;!</p>
   <p>La planète Neptune est la seule planète a avoir été découverte par le calcul uniquement avant d’être observée formellement pour la première fois le 23 septembre 1846. Le français Urbain Le Verrier avait calculé sa position à 1° de la position à laquelle elle a réellement été trouvée par l’allemand Johann Gottfried Galle.</p>
   <p>Neptune n’a pour l’instant été visité qu’une seule fois en 1989 par la sonde Voyager 2 et aucune autre mission d’exploration n’est prévue pour l’instant.</p>
   <p>Dans la mythologie romaine, Neptune est le dieu des eaux vives, des sources et plus généralement des océans.</p>
</div>
<div class="ce_text block sc sc2 sc-count1 sc-last sc2-last sc-close" id="caracteristiques">
   <h1>Caractéristiques de Neptune</h1>
   <dl>
      <dt>Type d'objet :</dt>
      <dd>Planète, Planète géante, Planète géante de glace</dd>
      <dt>Découverte :</dt>
      <dd>23 septembre 1846 par Urbain Le Verrier (calcul), Johann Gottfried Galle (observation) - Epoque moderne</dd>
      <dt><em> - Orbite - </em></dt>
      <dd>----------</dd>
      <dt>Localisation :</dt>
      <dd>Système solaire externe</dd>
      <dt><dfn>Demi grand-axe</dfn> <span role="definition">Le demi grand-axe d'une ellipse est le plus long diamètre</span> :</dt>
      <dd>4504,5&nbsp;millions de km (30,0297&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Périhélie</dfn> <span role="definition">Distance minimum au Soleil</span> :</dt>
      <dd>4452,940833&nbsp;millions de km (29,6863&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Aphélie</dfn> <span role="definition">Distance maximum au Soleil</span> :</dt>
      <dd>4553,946490&nbsp;millions de km (30,3596&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Excentricité de l'orbite</dfn> <span role="definition">Plus la valeur est proche de 0, plus l'orbite est circulaire</span> :</dt>
      <dd>0,00858587</dd>
      <dt><dfn>Inclinaison de l'orbite</dfn> <span role="definition">Inclinaison du plan de l'orbite sur l'écliptique, L'écliptique est l’intersection de la sphère céleste avec le plan écliptique (plan géométrique contenant l’orbite de la Terre autour du Soleil)</span> :</dt>
      <dd>1,76917&nbsp;°</dd>
      <dt><dfn>Période de révolution</dfn> <span role="definition">Un tour complet autour du Soleil</span> :</dt>
      <dd>164&nbsp;ans 8&nbsp;mois 8&nbsp;j 10&nbsp;h 41&nbsp;min 20&nbsp;s </dd>
      <dt>Vitesse orbitale :</dt>
      <dd>5,4317&nbsp;km/s - de 5,385 à 5,479&nbsp;km/s</dd>
      <dt><em> - Rotation - </em></dt>
      <dd>----------</dd>
      <dt>Période de rotation :</dt>
      <dd>0,6708&nbsp;jours - 16&nbsp;h 6&nbsp;min 0&nbsp;s </dd>
      <dt>Inclinaison axiale :</dt>
      <dd>28,31&nbsp;°</dd>
      <dt><em> - En chiffre - </em></dt>
      <dd>----------</dd>
      <dt>Diamètre moyen :</dt>
      <dd>49 244&nbsp;km</dd>
      <dt>Diamètre équatorial :</dt>
      <dd>49 528&nbsp;km - 3,883&nbsp;(Terre=1)</dd>
      <dt>Diamètre polaire :</dt>
      <dd>48 682&nbsp;km</dd>
      <dt>Aplatissement :</dt>
      <dd>0,0171</dd>
      <dt>Volume :</dt>
      <dd>57,5&nbsp;(Terre=1)</dd>
      <dt><dfn>Masse</dfn> <span role="definition">Par rapport à la Terre</span> :</dt>
      <dd>17,147&nbsp;(Terre=1) - 1/19416,3&nbsp;(Soleil=1)</dd>
      <dt>Densité :</dt>
      <dd>1 638&nbsp;kg/m<sup>3</sup> - 0,30&nbsp;(Terre=1) - 1,64&nbsp;(Eau=1)</dd>
      <dt>Gravité à l'équateur :</dt>
      <dd>1,14&nbsp;(Terre=1)</dd>
      <dt>Vitesse de libération :</dt>
      <dd>84 600&nbsp;km/h -&nbsp;23 500&nbsp;m/s</dd>
      <dt>Température à 0,1 bar :</dt>
      <dd>-218&nbsp;° C</dd>
      <dt>Température à 1 bar :</dt>
      <dd>-201&nbsp;° C</dd>
      <dt>Température centrale :</dt>
      <dd>7 000&nbsp;K</dd>
      <dt>Densité à 1 bar :</dt>
      <dd>0,45&nbsp;kg/m<sup>3</sup></dd>
      <dt>Vitesse du vent :</dt>
      <dd>0 à 580&nbsp;m/s</dd>
      <dt>Atmosphère :</dt>
      <dd>Hydrogène&nbsp;79,5&nbsp;%, Hélium&nbsp;18,5&nbsp;%, Méthane&nbsp;1,5&nbsp;%, Gaz&nbsp;traces&nbsp;0,5&nbsp;%, &nbsp;&nbsp;</dd>
      <dt><dfn>Moment magnétique</dfn> <span role="definition">Intensité du champs magnétique</span> :</dt>
      <dd>25&nbsp;(Terre=1)</dd>
      <dt><em> - Observation - </em></dt>
      <dd>----------</dd>
      <dt><dfn>Diamètre apparent</dfn> <span role="definition">Diamètre apparent équatorial au plus loin et au plus près de la Terre</span> :</dt>
      <dd>de &nbsp;" à 2,11&nbsp;"</dd>
      <dt><dfn>Magnitude apparente</dfn> <span role="definition">Mesure de l'irradiance d'un objet céleste observé depuis la Terre</span> :</dt>
      <dd>Magnitude à 1 <dfn>UA</dfn> <span role="definition">Unité Astronomique : 150 000 000 km = 1 UA</span> : -6,87 - de 8,02 à 7,78</dd>
      <dt><dfn>Albédo</dfn> <span role="definition">Fraction de lumière réfléchie par un objet</span>&nbsp;:</dt>
      <dd><dfn>Géométrique</dfn> <span role="definition">Indique le rapport entre l'intensité lumineuse réfléchie vers l'observateur et celle reçue par l'objet lorsque le Soleil, l'observateur et l'objet sont alignés, Indique la proportion de lumière réfléchie par rapport à celle théoriquement réfléchie par un disque blanc parfaitement diffusant,</span> : 0,41 - &lt; : 0,29</dd>
      <dt><em> - Anneaux - </em></dt>
      <dd>----------</dd>
      <dt>Nombre d'anneaux :</dt>
      <dd>5 principaux</dd>
      <dt>Rayon planétaire :</dt>
      <dd>1,7 à 2,54&nbsp;(rayon planétaire=1)</dd>
      <dt>Rayon :</dt>
      <dd>42 000 à 62 900&nbsp;kilomètres</dd>
      <dt>Epaisseur :</dt>
      <dd>?&nbsp;kilomètres</dd>
      <dt>Taille des particules :</dt>
      <dd>?&nbsp;m</dd>
      <dt>Diamètre du satellite de masse :</dt>
      <dd>10&nbsp;kilomètres</dd>
      <dt><em> - Satellites - </em></dt>
      <dd>----------</dd>
      <dt>Nombre de satellites :</dt>
      <dd>&gt; 14</dd>
   </dl>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline" id="parametres">
   Paramètres orbitaux de Neptune
</h2>
<div class="sc sc3 sc-count2 sc-first sc3-first">
   <div class="ce_text block" id="rotation">
      <h3>Rotation de la planète Neptune</h3>
      <p>Comme toutes les planètes gazeuses, il est difficile de mesurer la vitesse de rotation car il n’existe pas de point fixe de référence à leur surface. De plus, la rotation de l’atmosphère connaît des vitesses variables en fonction des latitudes.</p>
      <p>La vitesse de rotation de l’atmosphère varie de 12 heures au niveau des pôles à 18 heures au niveau de l’équateur. Le champs magnétique quand à lui tourne en 16,1 heure.</p>
   </div>
   <div class="ce_text block">
      <h3>Inclinaison de l’axe de rotation de Neptune</h3>
      <p>Neptune est inclinée à 28,32° ce qui comme pour la Terre et Mars lui permet de connaître des saisons cependant la très grande distance de Neptune fait que les changements saisonniers s’opèrent sur des périodes d’environ 40 années terrestres&nbsp;!</p>
   </div>
</div>
<div class="sc sc3-2 sc-count4 sc-last sc3-2-last sc-close sc-wrapper">
   <div class="video-container carre"><iframe src="https://www.planete-astronomie.eu/files/rotation-planete/neptune.html"></iframe></div>
   <p class="info">Cliquez avec votre souris pour faire tourner Neptune. Molette pour zoomer.</p>
</div>
<div class="sc-clear"></div>
<div class="sc sc3 sc-count5 sc-first sc3-first">
   <div class="ce_text block" id="revolution">
      <h3>Révolution de la planète Neptune</h3>
      <p>Neptune fait un tour complet autour du Soleil en presque 165 ans à une distance moyenne de&nbsp;4 498 253&nbsp;000 km (quatre milliards quatre cent quatre-vingt-dix-huit millions deux cent cinquante-trois mille kilomètres) ! C’est 2 fois plus lent et presque 2 fois plus éloigné qu’Uranus.</p>
      <p>Son orbite est presque circulaire avec une excentricité très faible de l’ordre de 0,0085 en revanche le plan de l’orbite est incliné à 1,7692° par rapport au plan orbital de la Terre.</p>
   </div>
   <a target="_blank" title="Position de Neptune en ce moment" href="http://space.jpl.nasa.gov/cgi-bin/wspace?tbody=1000&amp;vbody=1001&amp;month=11&amp;day=30&amp;year=2018&amp;hour=16&amp;minute=11&amp;porbs=1&amp;brite=1&amp;rfov=41">Voir la position de la planète Neptune en ce moment</a>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Structure interne de Neptune
</h2>
<div class="sc sc2 sc-count9 sc-last sc2-last sc-close">
   <style>
      .ce_table table td {text-align:right;}
      .ce_table table tr {transition:all 0.2s ease-out;}
      .ce_table table tr:hover {background-color:rgba(230, 230, 230, 0.5);}
   </style>
   <div class="ce_table">
      <table>
         <thead>
            <tr>
               <th>Nom</th>
               <th>Epaisseur (km)</th>
               <th>Distance (km)</th>
            </tr>
         </thead>
         <tbody>
            <tr></tr>
            <tr>
               <th>Noyau</th>
               <td>4 992</td>
               <td>4 992</td>
            </tr>
            <tr>
               <th>Manteau</th>
               <td>15 309</td>
               <td>20 302</td>
            </tr>
            <tr>
               <th>Atmosphère</th>
               <td>4 659</td>
               <td>24 960</td>
            </tr>
            <tr>
               <th>Surface</th>
               <td>1</td>
               <td>24 961</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="ce_text block">
      <p>Neptune serait composée&nbsp;:</p>
      <ul>
         <li>D’un noyau de fer et de silicates solide equivalent à une masse terrestre au minimum.</li>
         <li>Un manteau composé de roches en fusion dans les basses couches et allant vers des zones fluides d’eau, de méthane et d’ammoniac gelées composées de glaces,</li>
         <li>Une épaisse atmosphère d'hydrogène et d'hélium</li>
         <li>Une haute atmosphère</li>
      </ul>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block">
   <h3>Composition interne de Neptune</h3>
   <p>La composition interne de Neptune est comparable à celle d’Uranus mais est différent de celle de Jupiter et de Saturne, c’est pourquoi on parle de «&nbsp;planètes géantes de glace&nbsp;» ou «&nbsp;planètes géantes glacées » pour Uranus et Neptune et de «&nbsp;planètes géantes de gaz&nbsp;» pour Jupiter et Saturne.</p>
   <p>Les éléments constituants Neptune&nbsp;seraient :</p>
   <ul>
      <li>84&nbsp;% Dihydrogène,</li>
      <li>12&nbsp;% Hélium,</li>
      <li>1,5&nbsp;% Méthane,</li>
      <li>traces d'ammoniac, d'éthane, d'acétylène, de monoxyde de carbone, de sulfure d’hydrogène</li>
   </ul>
</div>
<h2 class="ce_headline">
   Caractéristiques physiques de Neptune
</h2>
<div class="ce_text block sc sc2 sc-count11 sc-first sc2-first">
   <h3>Masse et dimensions</h3>
   <p>Neptune a un diamètre équatorial de 49&nbsp;922 km représente 17 fois la masse de la Terre.</p>
   <p>Bien qu’étant légèrement plus petite qu’Uranus, Neptune est plus massive que cette dernière ce qui laisse penser que son noyau est plus massif.</p>
</div>
<div class="ce_text block sc sc2 sc-count12 sc-last sc2-last sc-close">
   <h3>Température et pression</h3>
   <p>On estime la température maximale à 7000 K avec une pression pouvant atteindre les 6 millions d’atmosphères terrestres.</p>
   <p>Comme pour Uranus, le méthane prendrait la forme de carbone métallique qui formerait un genre d’océans sur lequel flotterait du carbone à l’état de diamant solide… Cette couche métallique serait l’origine du champ magnétique.</p>
   <p>La température moyenne est de 55 K soit -218 °C.</p>
</div>
<div class="sc-clear"></div>
<div class="ce_text block">
   <h2>Magnétosphère</h2>
   <p>Neptune possède, comme Uranus, une forte inclinaison de son champ magnétique (47° par rapport à son axe de rotation) ainsi qu’un décentrement de 13&nbsp;500 km par rapport au centre géométrique de la planète. Ce décalage des champs magnétiques d’Uranus et de Neptune est aujourd’hui encore mal expliqué, les astrophysiciens supposent un effet lié à la composition de la couche inférieure de l’atmosphère qui serait composée d’eau et d’ammoniaque à l’origine du champ magnétique des 2 planètes.</p>
   <p>Malgré cette inclinaison et le décentrage du champs magnétique de Neptune, sa magnétosphère ne présente pas d’anomalies.</p>
</div>
<div class="ce_text block" id="champs_magnetique">
   <h2>Atmosphère de la planète Neptune</h2>
   <p>Neptune posséderait une atmosphère de près de 8&nbsp;000 km d’épaisseur composée de&nbsp;:</p>
   <ul>
      <li>en grande majorité d’hydrogène</li>
      <li>d’hélium,</li>
      <li>de glaces d’eau,</li>
      <li>d’ammoniac</li>
      <li>de méthane</li>
      <li>de traces d’hydrocarbures</li>
   </ul>
   <p>La structure des nuages serait composée de nuages d’eau dans les couches les basses couches tandis que la partie extérieure de la haute atmosphère serait composée de nuages de méthane.</p>
   <p>La majeure partie du reste de l’atmosphère est composée d’hydrogène et d’hélium</p>
   <p>L’atmosphère reposerait sur une couche d'ammoniac, d'eau et de méthane.</p>
   <p>La transition entre l’atmosphère et la couche inférieure serait progressive à mesure que la pression et la température augmentent.</p>
   <p>On distingue 3 couches dans l’atmosphère d’Uranus&nbsp;:</p>
   <ul>
      <li>la troposphère située entre 300 km sous la surface et&nbsp; 50 km d’altitude dont la pression va de 100 à 0,1 bar</li>
      <li>la stratosphère située entre 50 km et 4 000 km &nbsp;avec une pression comprise entre 0,1 et 1 millionième de bar ;</li>
      <li>la thermosphère aussi appelée la couronne qui s’étend de 4 000 km et va jusqu’à 50 000 km d’altitude à partir de la surface.</li>
   </ul>
</div>
<div class="ce_text responsive block">
   <h3>Climat de Neptune</h3>
   <p>Neptune montre des signes de perturbation météorologiques similaires à celles de Saturne et de Jupiter dans une moindre mesure avec des grandes tâche sombre comme celle qui a été observée par la sonde Voyager 2 en 1989 et qui a disparue depuis.</p>
   <p>L’aspect le plus étonnant de Neptune tient à la vitesse des vents qui ont été mesurés, lesquels pourraient atteindre les 2&nbsp;100 km/h ce qui en fait les vents atmosphériques les plus rapides de tout le système solaire.</p>
   <p>Le fait que Neptune soit connue depuis relativement peu de temps et qu’on ne puisse l’observer en détail que très difficilement depuis encore moins longtemps implique que nous n’avons pas encore pu étudier les changements saisonniers sur plusieurs cycles (ni même sur 1 seul d’ailleurs…).</p>
</div>
<h2 class="ce_headline">
   Anneaux de Neptune
</h2>
<div class="ce_text block sc sc2 sc-count13 sc-first sc2-first">
   <p>Neptune possède un système composé de 4&nbsp;principales structures&nbsp;:</p>
   <ul>
      <li>deux anneaux de 2000 et 4000 km de large</li>
      <li>deux anneaux très fins de quelques dizaines de kilomètres de large seuleemnt</li>
   </ul>
</div>
<div class="sc-clear"></div>
<div class="ce_text block" id="observation">
   <h2>Observation de la planète Neptune</h2>
   <p>Neptune n'est pas visible à l’œil nu depuis le Terre.</p>
   <p>Comme pour toutes les planètes externes, on n’observe pas de phases.</p>
   <p>Avec un télescope puissant, on voit Neptune comme un petit disque bleu semblable à Uranus mais on ne peut pas distinguer de détails de sa surface à cause de son très grand éloignement et de sa petite taille apparente.</p>
</div>
<div class="ce_text last block" id="ressources">
   <h2>Ressources</h2>
   <h3>Wikipedia</h3>
   <ul>
      <li><a title="Neptune sur Wikipedia" href="http://fr.wikipedia.org/wiki/Neptune_%28plan%C3%A8te%29" target="_blank">Neptune</a></li>
   </ul>
</div>

