<div class="ce_text block sc sc2 sc-count0 sc-first sc2-first">
   <h1>Rhéa, satellite de Saturne</h1>
   <p>Rhéa est un satellite de la planète Saturne.</p>
   <p>Il a été découvert le 23 décembre 1672 par Jean-Dominique Cassini.</p>
   <p>Rhéa est le 21<sup>e</sup> satellite en terme de distance à&nbsp;Saturne. Il orbite à une distance moyenne de 527&nbsp;068&nbsp;km.</p>
   <p>Rhéa est le 8<sup>e</sup> plus gros satellite du système solaire et le 2<sup>er</sup> satellite du système de Saturne.</p>
</div>
<div class="ce_text first block sc sc2 sc-count1 sc-last sc2-last sc-close" id="caracteristiques">
   <h1>Caractéristiques de Rhéa</h1>
   <dl>
      <dt>Type d'objet :</dt>
      <dd>satellite naturel</dd>
      <dt>Découverte :</dt>
      <dd>23 décembre 1672 par&nbsp;Jean-Dominique Cassini</dd>
      <dt><em> - Orbite - </em></dt>
      <dd>----------</dd>
      <dt>Système planétaire :</dt>
      <dd>Saturne</dd>
      <dt>Distance à la planète :</dt>
      <dd>21<sup>e</sup></dd>
      <dt>Ordre de taille du système planétaire :</dt>
      <dd>2<sup>e</sup></dd>
      <dt>Ordre de taille du système solaire :</dt>
      <dd>8<sup>e</sup></dd>
      <dt>Demi-grand axe de l'orbite :</dt>
      <dd>527&nbsp;068 km</dd>
      <dt>Périgée :</dt>
      <dd>526&nbsp;541 km</dd>
      <dt>Apogée :</dt>
      <dd>527&nbsp;595 km</dd>
      <dt>Excentricité orbitale :</dt>
      <dd>0,001</dd>
      <dt>Inclinaison :</dt>
      <dd>0,35°</dd>
      <dt>Période de rotation :</dt>
      <dd>4,5175 jours - 4&nbsp;jours 12&nbsp;heures 25&nbsp;minutes 12&nbsp;secondes </dd>
      <dt>Vitesse orbitale moyenne :</dt>
      <dd>30&nbsp;541,4 km/h</dd>
      <dt>Rotation synchrone avec la période orbitale :</dt>
      <dd>Oui</dd>
      <dt><em> - Rotation - </em></dt>
      <dd>----------</dd>
      <dt>Période de rotation :</dt>
      <dd>4,5175 jours - 4&nbsp;jours 12&nbsp;heures 25&nbsp;minutes 12&nbsp;secondes </dd>
      <dt>Inclinaison :</dt>
      <dd>0,35°</dd>
      <dt>Vitesse de libération :</dt>
      <dd>2&nbsp;285 km/h</dd>
      <dt><em> - En chiffre - </em></dt>
      <dd>----------</dd>
      <dt>Rayon moyen:</dt>
      <dd>764,3 km</dd>
      <dt>Dimensions triaxiales :</dt>
      <dd> km</dd>
      <dt>Circonférence à l'équateur :</dt>
      <dd>4&nbsp;802,2 km</dd>
      <dt>Volume :</dt>
      <dd>1&nbsp;870&nbsp;166&nbsp;133 km<sup>3</sup></dd>
      <dt>Volume par rapport à la Lune :</dt>
      <dd>
         <style>.rapporth4 {clear:both;margin-top:0}.divwrap {position:relative;height:240px; margin-bottom:20px;}.divlune {text-align:center; font-weight:bold;width:200px;height:200px;border-radius:200px;display:block;background:#ddd url(files/planetes/lune-200.png) top left no-repeat;background-size:100%;position:absolute;bottom:0;left:0;}.divsatellite {border-radius: 100%;text-align:center; font-weight:bold;display:block;background: -webkit-radial-gradient(100px 100px, circle, #ff6600, #000);background: -moz-radial-gradient(100px 100px, circle, #ff6600, #000);background: -ms-radial-gradient(100px 100px, circle, #ff6600, #000);
            background: radial-gradient(200px 200px, circle, #ff6600, #000);position:absolute;bottom:0;right:0;}.divlune span, .divsatellite span {color:#fff;text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;}.divlune > span, .divsatellite > span {display:block;margin-top:80px;color:#fff;}.divlune span span, .divsatellite span span {font-weight:normal;font-size:0.7em;}
         </style>
         9&nbsp;%
      </dd>
      <dt>Surface :</dt>
      <dd>7&nbsp;340&nbsp;701,82 km<sup>2</sup></dd>
      <dt>Surface par rapport à la Lune :</dt>
      <dd>19 %</dd>
      <dt>Masse :</dt>
      <dd>2&nbsp;307&nbsp;089&nbsp;151&nbsp;289&nbsp;079&nbsp;889&nbsp;920 kg (2.3071 x 10<sub>21</sub> kg)</dd>
      <dt>Masse par rapport à la Lune :</dt>
      <dd>3,14 %</dd>
      <dt>Densité :</dt>
      <dd>1,233 g/cm<sup>3</sup></dd>
      <dt>Densité par rapport à la Terre :</dt>
      <dd>22&nbsp;%</dd>
      <dt>Gravité à la surface :</dt>
      <dd>0,264 m/s<sup>2</sup></dd>
      <dt>Gravité à la surface par rapport à la Terre :</dt>
      <dd>3&nbsp;%</dd>
   </dl>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Orbite de Rhéa
</h2>
<div class="ce_text block sc sc2 sc-count2 sc-first sc2-first">
   <p>Rhéa est en orbite autour de Saturne à une distance moyenne de 527&nbsp;068&nbsp;km.</p>
   <p>L'excentricité de l'orbite de Rhéa qui est de 0,001 fait varier sa distance à Saturne de 526&nbsp;541&nbsp;km au périhélie à 527&nbsp;595&nbsp;km à l'aphélie.</p>
   <p>L'orbite de Rhéa a une inclinaison de 0,35&nbsp;° par rapport au plan équatorial de Saturne.</p>
   <p>La vitesse orbitale de Rhéa est de 30&nbsp;541,4&nbsp;km/h.<br>Rhéa effectue une révolution complète autour de Saturne en 4,5175&nbsp;jours terrestres soit 4&nbsp;jours 12&nbsp;heures 25&nbsp;minutes 12&nbsp;secondes .</p>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Rotation de Rhéa
</h2>
<div class="ce_text block sc sc2 sc-count4 sc-first sc2-first">
   <p>Rhéa, comme la plupart des satellites d'assez grande dimension, est en rotation synchrone avec Saturne, c'est à dire qu'il tourne sur lui même en autant de temps que ce qu'il lui faut pour faire un tour autour de Saturne, soit 4,5175&nbsp;jours terrestres.</p>
   <p>Tout comme notre Lune dont nous voyons toujours la même face depuis la Terre, Rhéa présente toujours le même hémisphère à Saturne. On parle alors de rotation synchrone.</p>
   <p>Rhéa a donc une période orbitale égale à sa période de révolution autour de Saturne soit dans les 2 cas 4,5175&nbsp;jours terrestres ou 4&nbsp;jours 12&nbsp;heures 25&nbsp;minutes 12&nbsp;secondes &nbsp;.</p>
</div>
<div class="sc sc2 sc-count5 sc-last sc2-last sc-close sc-wrapper">
   <div class="video-container carre">
      <iframe src="https://www.planete-astronomie.eu/files/rotation-planete/satellite.php?planete=Saturne&amp;satellite=Rhéa"></iframe>
   </div>
   <p class="info">Cliquez pour faire tourner Rhéa. Molette pour zoomer. <a href="files/rotation-planete/satellite.php?planete=Saturne&amp;satellite=Rhéa" target="_blank" title="Voir rhea en plein écran"><i class="icon-zoom-in"></i></a></p>
</div>
<div class="sc-clear"></div>
<!-- Planète Astronomie EU Texte -->
<h2 class="ce_headline">
   Dimensions de Rhéa
</h2>
<div class="ce_text block sc sc2 sc-count6 sc-first sc2-first">
   <h3>Rayon, circonférence et surface de Rhéa</h3>
   <p>Rhéa a un rayon moyen de 764,3&nbsp;km () soit un diamètre de 1&nbsp;528,6&nbsp;km. Comparé à notre Lune, c'est 44% du diamètre de notre Lune soit 56% de moins que la Lune.</p>
   <p>Sa circonférence est de 4&nbsp;802,2&nbsp;km et sa surface mesure 7&nbsp;340&nbsp;701,82&nbsp;km<sub>2</sub>.</p>
</div>
<div class="sc sc2 sc-count7 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Taille de Rhéa comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune"><span>1737.5 km</span></div>
      <div class="divsatellite" style="width:88px;height:88px;"><span>764.3 km<br><span>44%</span></span></div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count8 sc-first sc2-first">
   <h3>Masse de Rhéa</h3>
   <p>La masse de Rhéa est de 2&nbsp;307&nbsp;089&nbsp;151&nbsp;289&nbsp;079&nbsp;889&nbsp;920&nbsp;kg (2.3071 x 10<sub>21</sub>&nbsp;kg).</p>
   <p>Comparé à la masse de la Lune, la masse de Rhéa n'est que de 3,14&nbsp;%. Il faudrait donc&nbsp;32 fois Rhéa pour égaler la masse de la Lune.</p>
</div>
<div class="sc sc2 sc-count9 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Masse de Rhéa comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune"><span>7.3477 x 10<sub>22</sub> kg</span><span></span></div>
      <style>.divnbsatellite{float: left;width:30px;height:30px;color:#fff;font-size:0.7em; line-height:30px; text-align:center;border-radius:100%;
         background: -webkit-radial-gradient(15px 15px, circle, #ff6600, #000); 
         background: -moz-radial-gradient(15px 15px, circle, #ff6600, #000);
         background: -ms-radial-gradient(15px 15px, circle, #ff6600, #000);
         background: radial-gradient(15px 15px, circle, #ff6600, #000);}
      </style>
      <div style="width:300px; height:200px;position: absolute; bottom: 0; right: 0;">
         <div class="divnbsatellite">1</div>
         <div class="divnbsatellite">2</div>
         <div class="divnbsatellite">3</div>
         <div class="divnbsatellite">4</div>
         <div class="divnbsatellite">5</div>
         <div class="divnbsatellite">6</div>
         <div class="divnbsatellite">7</div>
         <div class="divnbsatellite">8</div>
         <div class="divnbsatellite">9</div>
         <div class="divnbsatellite">10</div>
         <div class="divnbsatellite">11</div>
         <div class="divnbsatellite">12</div>
         <div class="divnbsatellite">13</div>
         <div class="divnbsatellite">14</div>
         <div class="divnbsatellite">15</div>
         <div class="divnbsatellite">16</div>
         <div class="divnbsatellite">17</div>
         <div class="divnbsatellite">18</div>
         <div class="divnbsatellite">19</div>
         <div class="divnbsatellite">20</div>
         <div class="divnbsatellite">21</div>
         <div class="divnbsatellite">22</div>
         <div class="divnbsatellite">23</div>
         <div class="divnbsatellite">24</div>
         <div class="divnbsatellite">25</div>
         <div class="divnbsatellite">26</div>
         <div class="divnbsatellite">27</div>
         <div class="divnbsatellite">28</div>
         <div class="divnbsatellite">29</div>
         <div class="divnbsatellite">30</div>
         <div class="divnbsatellite">31</div>
         <div class="divnbsatellite">32</div>
      </div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count10 sc-first sc2-first">
   <h3>Densité de Rhéa</h3>
   <p>La densité de Rhéa est de 1,233&nbsp;g/cm<sub>3</sub>. C'est 37% de la densité de la Lune soit 63% de moins que la Lune et 22% de la densité de la Terre soit 78% de moins que la Terre.</p>
</div>
<div class="sc sc2 sc-count11 sc-last sc2-last sc-close sc-wrapper">
   <h4 class="rapporth4">Densité de Rhéa comparé à la Lune</h4>
   <div class="divwrap">
      <div class="divlune">
         <div style="
            width: 100px;
            height: 100px;
            background: #000 url(files/planetes/densite-satellite.png) center center repeat;
            background-size: 10%;
            border: 2px solid #aaa;
            border-radius: 100%;
            margin-top: 25%;
            margin-left: 25%;
            box-shadow: inset 0px 0 30px #000"></div>
         <span style="margin-top:0">3,344 g/cm<sub>3</sub></span>
      </div>
      <div class="divsatellite" style="
         width: 200px;
         height: 200px;">
         <div style="
            width: 100px;
            height: 100px;
            background: #000 url(files/planetes/densite-satellite.png) center center repeat;
            background-size: 16.312799043062%;
            border: 2px solid #aaa;
            border-radius: 100%;
            margin-top: 25%;
            margin-left: 25%;
            box-shadow: inset 0px 0 30px #000"></div>
         <span style="margin-top:0">1.233 g/cm<sub>3</sub><br><span>37%</span></span>
      </div>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block sc sc2 sc-count12 sc-first sc2-first">
   <h3>Gravité de Rhéa</h3>
   <p>La gravité de surface de Rhéa est de 0,264&nbsp;m/s<sub>2</sub> et la vitesse de libération est de 2&nbsp;285&nbsp;km/h.</p>
   <p>Comparé à la force de gravité sur Terre, la gravité de Rhéa ne représente que 2,69% de la gravité terrestre soit 98% de moins que sur la Terre.<br>Autrement dit, une masse de 100 kg sur Terre ne pèserait que 2,69 kg sur&nbsp;Rhéa.</p>
   <p>La vitesse de libération, c'est à dire la vitesse minimale nécessaire pour s'arracher de l'attraction de Rhéa est de 2&nbsp;285&nbsp;km/h. C'est 5,67% de la vitesse de liberation terrestre soit 95% de moins que pour la Terre (40&nbsp;284 km/h).</p>
</div>
<div class="sc sc2 sc-count13 sc-last sc2-last sc-close sc-wrapper">
   <style>.divbalance {width:400px;height:189px;display:block;background:#fff url(files/planetes/balance.jpg) top left no-repeat;background-size:100%;position:relative}.masseterre, .massesatellite{position:absolute;top:14%;font-family:monospace;font-weight:bold;color:#fff}.masseterre {left:18%}.massesatellite {right:15%}</style>
   <h4 class="rapporth4">Gravité de Rhéa comparé à la Terre</h4>
   <div class="divbalance"><span class="masseterre">100 kg</span><span class="massesatellite">2.69 kg</span></div>
</div>
<div class="sc-clear"></div>

