<div class="ce_text first block sc sc2 sc-count0 sc-first sc2-first" id="venus">
   <h1>La planète Saturne ♄</h1>
   <p>La planète Saturne est une planète géante gazeuse comme Jupiter mais elle est un petit plus petit en taille et beaucoup moins dense. C’est la deuxième planète la plus grosse et la plus massive du système solaire.</p>
   <p>Saturne est la 6<sup>e</sup> planète en partant du Soleil, elle se trouve entre Jupiter et Uranus.</p>
   <p>Sa principale caractéristique tient à ses anneaux constitués de poussières et de glace. Ils sont très étendus et très brillants au point qu’ils sont même visibles depuis la Terre.</p>
   <p>L’atmosphère de Saturne, bien que calme en apparence en comparaison de celle de Jupiter, produit des vents qui peuvent aller jusqu'à la vitesse incroyable de 1800 km/h&nbsp;!</p>
   <p>Le système de Saturne est composé de nombreux satellites, 63 confirmés, dont Titan qui est le 2<sup>e</sup> plus gros satellite du système solaire, après Ganymède, et qui a la particularité d’avoir une atmosphère épaisse. Une sonde, Huygens de la mission Cassini-Huygens s’est même posé à sa surface en 2005.</p>
   <p>Le jour « samedi » fait référence à Saturne, «&nbsp;Saturni dies&nbsp;» ou le « jour de Saturne ».</p>
   <p>Dans la mythologie romaine, Saturne est le dieu de l’agriculture et du temps.</p>
   <p>Le symbole astronomique de Saturne&nbsp;est ♄.</p>
</div>
<div class="ce_text block sc sc2 sc-count1 sc-last sc2-last sc-close" id="caracteristiques">
   <h1>Caractéristiques de Saturne</h1>
   <dl>
      <dt>Type d'objet :</dt>
      <dd>Planète, Planète géante, Planète géante gazeuse</dd>
      <dt>Découverte :</dt>
      <dd>Antiquité</dd>
      <dt><em> - Orbite - </em></dt>
      <dd>----------</dd>
      <dt>Localisation :</dt>
      <dd>Système solaire externe</dd>
      <dt><dfn>Demi grand-axe</dfn> <span role="definition">Le demi grand-axe d'une ellipse est le plus long diamètre</span> :</dt>
      <dd>1429,4&nbsp;millions de km (9,5293&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Périhélie</dfn> <span role="definition">Distance minimum au Soleil</span> :</dt>
      <dd>1349,467375&nbsp;millions de km (8,9964&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Aphélie</dfn> <span role="definition">Distance maximum au Soleil</span> :</dt>
      <dd>1503,983449&nbsp;millions de km (10,0266&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Excentricité de l'orbite</dfn> <span role="definition">Plus la valeur est proche de 0, plus l'orbite est circulaire</span> :</dt>
      <dd>0,0541506</dd>
      <dt><dfn>Inclinaison de l'orbite</dfn> <span role="definition">Inclinaison du plan de l'orbite sur l'écliptique, L'écliptique est l’intersection de la sphère céleste avec le plan écliptique (plan géométrique contenant l’orbite de la Terre autour du Soleil)</span> :</dt>
      <dd>2,48446&nbsp;°</dd>
      <dt><dfn>Période de révolution</dfn> <span role="definition">Un tour complet autour du Soleil</span> :</dt>
      <dd>29&nbsp;ans 5&nbsp;mois 13&nbsp;j 12&nbsp;h 28&nbsp;min 15&nbsp;s </dd>
      <dt>Vitesse orbitale :</dt>
      <dd>9,6446&nbsp;km/s - de 9,137 à 10,183&nbsp;km/s</dd>
      <dt><em> - Rotation - </em></dt>
      <dd>----------</dd>
      <dt>Période de rotation :</dt>
      <dd>0,4394&nbsp;jours - 10&nbsp;h 32&nbsp;min 45&nbsp;s </dd>
      <dt>Inclinaison axiale :</dt>
      <dd>26,73&nbsp;°</dd>
      <dt><em> - En chiffre - </em></dt>
      <dd>----------</dd>
      <dt>Diamètre moyen :</dt>
      <dd>116 464&nbsp;km</dd>
      <dt>Diamètre équatorial :</dt>
      <dd>120 536&nbsp;km - 9,4492&nbsp;(Terre=1)</dd>
      <dt>Diamètre polaire :</dt>
      <dd>108 718&nbsp;km</dd>
      <dt>Aplatissement :</dt>
      <dd>0,09796</dd>
      <dt>Volume :</dt>
      <dd>757&nbsp;(Terre=1)</dd>
      <dt><dfn>Masse</dfn> <span role="definition">Par rapport à la Terre</span> :</dt>
      <dd>95,152&nbsp;(Terre=1) - 1/3498,77&nbsp;(Soleil=1)</dd>
      <dt>Densité :</dt>
      <dd>687,3&nbsp;kg/m<sup>3</sup> - 0,125&nbsp;(Terre=1) - 0,69&nbsp;(Eau=1)</dd>
      <dt>Gravité à l'équateur :</dt>
      <dd>1,064&nbsp;(Terre=1)</dd>
      <dt>Vitesse de libération :</dt>
      <dd>127 800&nbsp;km/h -&nbsp;35 500&nbsp;m/s</dd>
      <dt>Température à 0,1 bar :</dt>
      <dd>-189&nbsp;° C</dd>
      <dt>Température à 1 bar :</dt>
      <dd>-139&nbsp;° C</dd>
      <dt>Température centrale :</dt>
      <dd>11 000&nbsp;K</dd>
      <dt>Densité à 1 bar :</dt>
      <dd>0,19&nbsp;kg/m<sup>3</sup></dd>
      <dt>Vitesse du vent :</dt>
      <dd>0 à 400&nbsp;m/s</dd>
      <dt>Atmosphère :</dt>
      <dd>Hydrogène&nbsp;96,3&nbsp;%, Hélium&nbsp;3,2&nbsp;%, Méthane&nbsp;0,2&nbsp;%, Vapeur d'eau&nbsp;0,1&nbsp;%, Gaz&nbsp;traces&nbsp;0,2&nbsp;%</dd>
      <dt><dfn>Moment magnétique</dfn> <span role="definition">Intensité du champs magnétique</span> :</dt>
      <dd>600&nbsp;(Terre=1)</dd>
      <dt><em> - Observation - </em></dt>
      <dd>----------</dd>
      <dt><dfn>Diamètre apparent</dfn> <span role="definition">Diamètre apparent équatorial au plus loin et au plus près de la Terre</span> :</dt>
      <dd>de &nbsp;" à 20,8&nbsp;"</dd>
      <dt><dfn>Magnitude apparente</dfn> <span role="definition">Mesure de l'irradiance d'un objet céleste observé depuis la Terre</span> :</dt>
      <dd>Magnitude à 1 <dfn>UA</dfn> <span role="definition">Unité Astronomique : 150 000 000 km = 1 UA</span> : -8,88 - de -0,241 à -1,47</dd>
      <dt><dfn>Albédo</dfn> <span role="definition">Fraction de lumière réfléchie par un objet</span>&nbsp;:</dt>
      <dd><dfn>Géométrique</dfn> <span role="definition">Indique le rapport entre l'intensité lumineuse réfléchie vers l'observateur et celle reçue par l'objet lorsque le Soleil, l'observateur et l'objet sont alignés, Indique la proportion de lumière réfléchie par rapport à celle théoriquement réfléchie par un disque blanc parfaitement diffusant,</span> : 0,47 - &lt; : 0,342</dd>
      <dt><em> - Anneaux - </em></dt>
      <dd>----------</dd>
      <dt>Nombre d'anneaux :</dt>
      <dd>Plus de 1000 dont 7 principaux</dd>
      <dt>Rayon planétaire :</dt>
      <dd>1,09 à 8&nbsp;(rayon planétaire=1)</dd>
      <dt>Rayon :</dt>
      <dd>66 900 à 480 000&nbsp;kilomètres</dd>
      <dt>Epaisseur :</dt>
      <dd>&lt; 1&nbsp;kilomètres</dd>
      <dt>Taille des particules :</dt>
      <dd>0,01 à 10&nbsp;m</dd>
      <dt>Diamètre du satellite de masse :</dt>
      <dd>450&nbsp;kilomètres</dd>
      <dt><em> - Satellites - </em></dt>
      <dd>----------</dd>
      <dt>Nombre de satellites :</dt>
      <dd>&gt; 62</dd>
   </dl>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline" id="parametres">
   Paramètres orbitaux de Saturne
</h2>
<h3 class="ce_headline">
   Rotation de la planète Saturne
</h3>
<div class="ce_text block sc sc3 sc-count2 sc-first sc3-first" id="rotation">
   <p>Saturne a un axe de rotation incliné à 26,73&nbsp;°, c’est un peu plus que l’inclinaison de la Terre (23,44&nbsp;°) ce qui provoque des phénomènes saisonniers.</p>
   <p>Tout comme Jupiter, Saturne a une période de rotation très courte ce qui provoque un renflement équatorial et un aplatissement au niveau des pôles.</p>
   <p>La rotation différentielle de l’atmosphère fait que certaines zones tournent plus vite que d’autres.</p>
   <p>Par ailleurs, on a remarqué un changement de la durée de la rotation de Saturne qui est passé de 10 h 39 min 22,3 s lors du passage des sondes Voyager dans les années 1980 à 10 h 45 min 45 s lors de la mesure effectuée par la sonde Cassini en 2004. La raison de cette variation de la vitesse de rotation de Saturne est encore inconnue mais on suspecte des interactions électromagnétiques entre l’atmosphère de Saturne et les émissions de vapeur d’eau des geysers d’Encelade, l’un de ses principaux satellites ce qui conduirait à une modification du champs magnétique et donc à une variation de la vitesse de rotation de Saturne.</p>
   <p>Une nouvelle méthode du calcul de la vitesse de rotation de Saturne a déterminé une vitesse de 10&nbsp;heures 32&nbsp;minutes 45&nbsp;secondes .</p>
</div>
<div class="sc sc3-2 sc-count3 sc-last sc3-2-last sc-close sc-wrapper">
   <div class="video-container carre"><iframe src="https://www.planete-astronomie.eu/files/rotation-planete/saturne.html"></iframe></div>
   <p class="info">Cliquez avec votre souris pour faire tourner Saturne. Molette pour zoomer.</p>
</div>
<div class="sc-clear"></div>
<div class="sc sc3 sc-count4 sc-first sc3-first">
   <div class="ce_text block" id="revolution">
      <h3>Révolution de la planète Saturne</h3>
      <p>Saturne se trouve à une distance du Soleil comprise entre 1349,467375&nbsp;millions de kilomètres et 1503,983449&nbsp;millions de kilomètres soit environ de 9&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span> à 10,03&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>.</p>
      <p>L’excentricité de l’orbite de Saturne est de 0,054 contre 0,017 pour la Terre.</p>
      <p>Saturne effectue une révolution autour du Soleil en 10757,737&nbsp;jours soit 29&nbsp;ans 5&nbsp;mois 13&nbsp;jours 12&nbsp;heures 28&nbsp;minutes 15&nbsp;secondes &nbsp;sur un plan incliné à 2,48446&nbsp;° par rapport au plan de l'écliptique.</p>
      <p>Malgré la distance, on peut facilement percevoir la variation de l’inclinaison des anneaux de Saturne par rapport à la Terre en fonction de leurs positions respectives autour du Soleil.</p>
   </div>
   <a target="_blank" title="Position de Saturne en ce moment" href="http://space.jpl.nasa.gov/cgi-bin/wspace?tbody=1000&amp;vbody=1001&amp;month=11&amp;day=30&amp;year=2018&amp;hour=16&amp;minute=10&amp;porbs=1&amp;brite=1&amp;rfov=14">Voir la position de la planète Saturne en ce moment</a>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Structure interne de Saturne
</h2>
<div class="sc sc2 sc-count8 sc-last sc2-last sc-close">
   <style>
      .ce_table table td {text-align:right;}
      .ce_table table tr {transition:all 0.2s ease-out;}
      .ce_table table tr:hover {background-color:rgba(230, 230, 230, 0.5);}
   </style>
   <div class="ce_table">
      <table>
         <thead>
            <tr>
               <th>Nom</th>
               <th>Epaisseur (km)</th>
               <th>Distance (km)</th>
            </tr>
         </thead>
         <tbody>
            <tr></tr>
            <tr>
               <th>Roche</th>
               <td>6 260</td>
               <td>6 260</td>
            </tr>
            <tr>
               <th>Glaces</th>
               <td>6 260</td>
               <td>12 520</td>
            </tr>
            <tr>
               <th>Hydrogène&nbsp;métallique</th>
               <td>14 143</td>
               <td>26 663</td>
            </tr>
            <tr>
               <th>Hélium&nbsp;liquide</th>
               <td>3 478</td>
               <td>30 141</td>
            </tr>
            <tr>
               <th>Hydrogène&nbsp;liquide</th>
               <td>17 853</td>
               <td>47 994</td>
            </tr>
            <tr>
               <th>Atmosphère</th>
               <td>1</td>
               <td>54 021</td>
            </tr>
            <tr>
               <th>Surface</th>
               <td>6 028</td>
               <td>54 022</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="ce_text block">
      <p>On pense que Saturne a une composition interne similaire à Jupiter. On y trouverait&nbsp;:</p>
      <ul>
         <li>un noyau rocheux de silicates et de fer représentant entre 10 et 20 fois la masse de la Terre,</li>
         <li>une couche d'hydrogène métallique, entourerait cette graine</li>
         <li>une couche d'hydrogène liquide recouvrirait l’hydrogène métallique</li>
         <li>une couche d'hydrogène à l’état gazeux constituerait la couche externe, l’atmosphère.</li>
      </ul>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block">
   <h3>Composition interne de Saturne</h3>
   <p>L’hydrogène est le principal constituant de la haute atmosphère de Saturne avec près de 96,3&nbsp;% suivi de l’hélium à hauteur de 3,2&nbsp;% d'hélium, le reste est constitué de traces de méthane (0,2&nbsp;%), d'éthane (0,1&nbsp;%), de vapeur d'eau (0,2&nbsp;%), d'ammoniac, et d'autres gaz sous forme de traces comme l'acétylène et la phosphine.</p>
   <p>La couche la plus externe de l’atmosphère contient des cristaux d'ammoniac, les couches en dessous contiennent de l'hydrosulfure d'ammonium NH4SH ou de l'eau.</p>
   <p>On ne connaît pas bien la composition interne de la planète et notamment les constituant les plus lourds situés dans le noyau mais ce dernier serait de 20 à 30 fois plus massif que la planète Terre.</p>
   <p>Comme pour Jupiter, les différentes couches ne seraient pas clairement séparées, au contraire, les changements d’état de l’hydrogène seraient progressifs en fonction de la pression et de la température. Il n’y aurait donc pas de surface solide.</p>
</div>
<div class="ce_text block">
   <h4>Températures</h4>
   <p>La température à l’intérieur de Saturne pourrait atteindre les 11 000&nbsp;K au cœur du noyau.</p>
   <p>Comme Jupiter, Saturne émet plus de chaleur que ce que lui apporte le Soleil.</p>
   <p>Saturne étant très éloignée du Soleil, elle ne reçoit que peu d’énergie solaire, beaucoup moins que Jupiter.</p>
   <p>Les températures mesurées en «&nbsp;surface&nbsp;», c'est-à-dire sur la haute atmosphère, sont&nbsp;de&nbsp; -189&nbsp;° C à 0,1 bar de pression et&nbsp; -139&nbsp;° C à 1 bar.</p>
</div>
<h2 class="ce_headline">
   Caractéristiques physiques de Saturne
</h2>
<div class="ce_text block">
   <h3>Masse et dimensions</h3>
   <p>Saturne est la deuxième planète la plus massive du système solaire après Jupiter. Elle est 95 fois plus massive que la Terre et son diamètre est plus de 9,5 fois plus grand que le diamètre terrestre. On pourrait loger 760 planètes Terre à l’intérieur de Saturne. Bien que sa taille soit proche de celle de Jupiter, elle est toutefois 3,3 fois moins massive que cette dernière et 5,5 fois plus que Neptune.</p>
   <p>Saturne a la particularité d’avoir une masse volumique moyenne inférieure à celle de l’eau (0,69&nbsp;(Eau=1)), autrement dit, elle pourrait flotter si l’on pouvait la poser sur un océan suffisamment grand mais ceci est dû à son atmosphère d’hydrogène très épaisse qui contrebalance un noyau très dense et très lourd.</p>
</div>
<div class="ce_text block">
   <h3>Renflement équatorial</h3>
   <p>De par sa vitesse de rotation élevée, Saturne a une forme ovale, aplatie aux pôles avec un renflement à l’équateur du fait de la force centrifuge. La différence est encore plus marquée que pour Jupiter puisque les diamètres équatoriaux et polaires diffèrent de près de 10%. Le diamètre a l’équateur étant de 120 536&nbsp;km alors que le diamètre polaire n’est que de 108 718&nbsp;km.</p>
   <p>Cette morphologie particulière est visible dans un petit télescope depuis la Terre.</p>
</div>
<div class="ce_text block">
   <h3>Magnétosphère</h3>
   <p>La magnétosphère de Saturne, bien que plus étendue que celle de la Terre est toutefois beaucoup plus faible que celle de Jupiter.</p>
</div>
<div class="ce_text block" id="champs_magnetique">
   <h2>Atmosphère de la planète Saturne</h2>
   <p>L’atmosphère de Saturne connaît une rotation différentielle qui fait que certaines zones tournent plus vite que d’autres engendrant quelques phénomènes atmosphériques dans la haute atmosphère, cependant ils sont beaucoup moins visibles que sur Jupiter mais les vents qu’on y mesure atteignent parfois les 1800 km/h&nbsp;!</p>
   <p>L’atmosphère est composée de bandes nuageuses comme pour Jupiter mais elles ne présentent que très peu de nuances de couleurs ce qui les rend indiscernables depuis la Terre dans un télescope d’amateur.</p>
   <p>Le télescope spatial Hubble a pu photographier un nuage blanc très étendu dans la haute atmosphère puis un second en 1994. On peut aussi observer des orages et des tourbillons comme sur Jupiter mais en moins contrasté. Ces tâches blanches sont comparables aux grandes tâches de Jupiter comme la Grande tâche rouge. Il semblerait que ces formations nuageuses aient une période d’une trentaine d’années.</p>
   <p>Récemment, la sonde Cassini a pu observer un système d’orages très étendu dans l’hémisphère nord de la planète, une formation blanche très étendue</p>
   <p>Les pôles semblent émettre de la chaleur, ce qui est unique pour l’instant dans le système solaire.</p>
   <p>La sonde a aussi pu observer les zones polaires de Saturne et notamment une formation hexagonale centrée autour du pôle nord, avec des bords ayant des longueurs de plus de 13&nbsp;800 km, qui avait déjà été détectée par les sondes Voyager. Ce phénomène n’est pas encore expliqué avec certitude. Il pourrait s’agir d’ondes de résonance dues à la rotation de l’atmosphère ou à des interactions magnétiques ou encore à des aurores polaires particulières.</p>
   <p>Le pôle sud ne présente pas ce type de structure hexagonale. En revanche il possède depuis au moins 2006 un ouragan de 2 000 km de diamètre dont la vitesse des vents dépasse les 530 km/h. Il semble rester en position stationnaire au dessus du pôle sud comme un vortex. C’est le seul possédant un œil cyclonique net.</p>
   <p>Un courant jet est aussi visible au niveau du pôle sud.</p>
   <p>La sonde Cassini observe régulièrement la formation et l’évolution complète de nouveaux systèmes orageux, de leur apparition à leur disparition sur des périodes de plusieurs moins. Ces formations orageuses pouvant atteindre 3000 km de long sont principalement observées dans une zone surnommée «&nbsp;l’allée des tempêtes&nbsp;», à des latitudes comprises entre 30° et 40° dans l’hémisphère sud.</p>
</div>
<div class="ce_text responsive block">
   <h3>Hexagone au pôle nord de Saturne</h3>
   <p>Cette image montre l'hexagone du pôle nord avec le courant-jet nord de Saturne de couleur légèrement jaune sur l'image. Au dessus du pôle, on voit un ouragan avec son oeil au centre. Les vents atteignent les 350 km/h sur les côtés de l'hexagone.</p>
</div>
<div class="ce_text responsive block">
   <h3>Tempête dans l'hémisphère nord</h3>
   <p>La sonde Cassini&nbsp;a observé une gigantesque tempête qui s'est développée en 2011 dans l'hémisphère nord, la plus grande jamais observé. Elle mesurait&nbsp;15 000 km de large sur 300 000 km de long et couvrait une surface de 5 milliards de km²...!</p>
</div>
<div class="sc-clear"></div>
<div class="ce_text block" id="observation">
   <h2>Observation de la planète Saturne</h2>
   <p>Saturne est visible à l’œil nu depuis le Terre.</p>
   <p>En tant que planète externe, on n’observe pas de phases comme sur Vénus ou Mercure.</p>
   <p>Le diamètre apparent est comprit entre &nbsp;" et 20,8&nbsp;".</p>
   <p>La magnitude apparente varie de -0,241 à -1,47. La magnitude apparente à 1 UA est de -8,88.</p>
   <p>L'albédo géométrique est de 0,47 et l'albédo de Bond est de 0,342.</p>
   <p>Avec de simples jumelles, il est déjà possible de distinguer les anneaux et dans un télescope on les voit très distinctement. On surnomme Saturne le «&nbsp;joyaux&nbsp;» du système solaire et c’est bien souvent la planète dont l’observation est la plus impressionnante à cause de ses anneaux et c’est le plus souvent elle qui transmet le «&nbsp;virus de l’astronomie&nbsp;» aux astronomes en herbe.</p>
   <p>Depuis la Terre, seul Titan, son plus gros satellite (le 2<sup>e</sup> plus gros après Ganymède) est visible sous la forme d’un petit point brillant.</p>
</div>
<div class="ce_text last block" id="ressources">
   <h2>Ressources</h2>
   <h3>JUNO</h3>
   <ul>
      <li><a title="Page de la NASA&nbsp;consacrée à la mission JUNO" href="http://www.nasa.gov/mission_pages/juno/main/" target="_blank">Page de la NASA consacrée à la mission JUNO</a></li>
      <li><a title="Page de la NASA consacrée à la mission JUNO" href="http://science.nasa.gov/missions/juno/" target="_blank">Page de la NASA consacrée à la mission JUNO</a></li>
      <li><a title="Page du JPL consacrée à la mission JUNO" href="http://www.jpl.nasa.gov/missions/juno/" target="_blank">Page du JPL consacrée à la mission JUNO</a></li>
      <li><a title="Site officiel de la mission JUNO" href="http://missionjuno.swri.edu/" target="_blank">Site officiel de la mission JUNO</a></li>
   </ul>
   <h3>GALILEO</h3>
   <ul>
      <li><a title="Page de la NASA&nbsp;consacrée à la mission GALILEO" href="http://www.nasa.gov/mission_pages/galileo/main/" target="_blank">Page de la NASA consacrée à la mission GALILEO</a></li>
      <li><a title="Page du JPL consacrée à la mission GALILEO" href="http://www.jpl.nasa.gov/missions/galileo/" target="_blank">Page du JPL consacrée à la mission GALILEO</a></li>
   </ul>
   <h3>Wikipedia</h3>
   <ul>
      <li><a title="Saturne sur Wikipedia" href="http://fr.wikipedia.org/wiki/Saturne_(plan%C3%A8te)" target="_blank">Saturne</a></li>
      <li><a title="JUNO sur Wikipedia" href="http://fr.wikipedia.org/wiki/Juno_(sonde_spatiale)" target="_blank">JUNO</a></li>
      <li><a title="GALILEO sur Wikipedia" href="http://fr.wikipedia.org/wiki/Galileo_(sonde_spatiale)" target="_blank">GALILEO</a></li>
   </ul>
</div>

