<h1>Le Soleil</h1>

<p class="rtecenter"><img alt="Le soleil" src="public/img/soleil.jpg" width="500" height="275"></p>
<p class="rtecenter">&nbsp;</p>
<div class="resume"><strong>Température en surface</strong>&nbsp;: 6000 °C<br><strong>Température du noyau</strong>&nbsp;:
  15 millions °C<br><strong>Température de la couronne</strong>&nbsp;: 2 millions °C<br><strong>Distance depuis la
    Terre&nbsp;</strong>: 150 millions de kilomètres — 1 Unité astronomique (UA)<br><strong>Diamètre</strong>&nbsp;: 1
  million 392 000 km<br><strong>Distance depuis le centre de la Voie lactée</strong>&nbsp;: 1 Milliard 600 millions
  d’UA<br><strong>Composition</strong>&nbsp;: Hydrogène (73%), hélium (25%)<br><strong>Type d’étoile</strong>&nbsp;:
  Naine jaune</div>
<p>Sa proximité avec la Terre (une UA, soit 150 millions de km), est pour les scientifiques une chance inespérée&nbsp;:
  cela leur donne la possibilité d’étudier de très près une étoile, et d’en tirer des hypothèses valables pour un grand
  nombre d’étoiles bien trop loin de nous pour être étudiées&nbsp;!</p>
<p>L’histoire du Soleil commence environ 4,6 milliards d’années avant notre ère, dans le cœur d’une supernova. Le
  Soleil est à l’origine du système qui porte son nom, le système solaire.</p>
<p>Le Soleil est un incroyable chaudron d’énergie, représentant plus de 99% de la masse totale du système solaire, le
  reste se partageant avec les planètes et les autres objets du système solaire.</p>
<p>Le système solaire est enfermé dans une sorte de bulle, l’héliosphère, qui est comme la marque d’une frontière.
  L’héliosphère représente l’influence du Soleil dans tout ce système. Au-delà de l’héliosphère commence l’espace
  interstellaire.</p>
<p>Toute forme de vie sur Terre dépend directement ou indirectement du Soleil, et tous les combustibles que nous
  utilisons aujourd’hui (pétrole, charbon...) pour produire de l’énergie sont issus du carburant solaire.</p>
<h2>De quoi se compose le Soleil&nbsp;?</h2>
<p>Dans l’antiquité, les astronomes n’arrivaient pas à comprendre quel était le combustible qui faisait brûler le
  Soleil. Jusqu’au début du 19e siècle, on pensait que le fonctionnement du Soleil était identique à celui du feu sur
  Terre. Les scientifiques pensaient alors que le Soleil était doté d’un combustible tel que le charbon qui se
  consumait petit à petit.</p>
<p>Mais cette théorie posait un sérieux problème. Même si le Soleil était entièrement fait d’un combustible, ce dernier
  mettrait à peine quelques milliers d’années pour se consumer totalement. La vie sur Terre n’aurait donc jamais eu le
  temps de naître.</p>
<p>Au début du 20e siècle, la datation au carbone 14 a permis de déterminer que le Soleil n’existait pas <strong>depuis
    seulement quelques milliers d’années, mais depuis plusieurs milliards d’années&nbsp;!</strong> Il devint donc
  inenvisageable que le Soleil utilise un quelconque combustible pour brûler. Il devait forcément exister un autre
  moyen, encore inconnu sur Terre&nbsp;!</p>
<h3>Fusion nucléaire</h3>
<p>Les scientifiques ont trouvé la réponse à cette question dans les années 1920, en recréant le procédé de la fusion
  nucléaire, qui donnera quelques années plus tard la création de la bombe H (bombe à hydrogène).</p>
<p>Au cœur du Soleil, un véritable réacteur nucléaire s’agite en permanence. La température qui règne dans ce noyau est
  phénoménale&nbsp;: 15 millions de degrés&nbsp;! L’hydrogène y brûle et se transforme en hélium. Sous l’effet de la
  chaleur intense, les noyaux d’hydrogène se rapprochent, puis fusionnent pour donner naissance à des noyaux
  d’hélium&nbsp;: c’est la fusion nucléaire. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>Au cours de la fusion nucléaire, une partie de la masse initiale est convertie en pure énergie sous forme de
  photons, autrement dit, en lumière. On est ici face à l’application concrète de la célèbre formule d'Albert
  Einstein&nbsp;: <strong>E=mc<sup>2</sup></strong>. Tout ce surplus d’énergie voyage depuis le cœur du Soleil jusqu’à
  sa surface. C’est pour cette raison que notre Soleil brille&nbsp;!</p>
<p>L’énergie au cœur du Soleil est d’une telle puissance que notre étoile se dilate, tel un ballon que l’on gonflerait
  à l’infini. Mais si le Soleil se dilate, alors pourquoi ne grossit-il pas&nbsp;? Réponse&nbsp;: <strong>à cause de
    l’attraction gravitationnelle&nbsp;!</strong> En effet, cette dilatation est en permanence refoulée grâce à
  l’immense force d’attraction du Soleil qui pousse à son propre effondrement, lui-même compensé par la fusion
  thermonucléaire.</p>
<p>À chaque seconde qui passe, le Soleil brûle plus de 4 millions de tonnes d’hydrogène. Durant une seconde, le Soleil
  libère plus d’énergie que la civilisation humaine n’en a utilisée depuis sa naissance&nbsp;! Et il reste encore assez
  d’énergie pour brûler cet hydrogène durant environ 5 milliards d’années.</p>
<p>À la surface du Soleil se trouve ce que l’on appelle la photosphère. La température de la photosphère est d’environ
  6000°C. Au-dessus de la surface, on trouve la chromosphère, sorte de fine atmosphère, épaisse d’environ 1000km.</p>
<h3>Les taches solaires</h3>
<p>Le soleil est aléatoirement marqué par des taches noires, les taches solaires. Ces taches apparaissent et
  disparaissent avec le temps. Elles sont plus froides que les autres parties de la photosphère. Ces taches peuvent
  apparaître et disparaître en l’espace de quelques jours.</p>
<p>Galilée est l’un des premiers scientifiques à avoir observé ces taches solaires. Avec sa lunette, il a observé le
  Soleil puis a dessiné les taches qu’il voyait sur une feuille de papier. Il a alors noté que ces taches se
  déplaçaient. Il en a alors déduit que le Soleil devait tourner sur lui-même... Et il avait raison&nbsp;!</p>
<p style="text-align: center;"><span style="font-size: x-small;">Les taches solaires dessinées par Galilée</span></p>
<p>Lorsque des taches solaires apparaissent, cela signifie que le Soleil connait une forte activité magnétique. Les
  pôles magnétiques du Soleil s’inversent tous les 11 ans. L’activité magnétique est à son maximum au milieu de ce
  cycle. Cette activité magnétique provient de gaz situés sous la surface.</p>
<h2>Distance Terre-Soleil</h2>
<p>La Terre est située à une UA (Unité Astronomique) du Soleil. Nous sommes donc éloignés du Soleil de 150 millions de
  kilomètres. C’est la distance parfaite&nbsp;: nous ne sommes pas trop éloignés du Soleil, sans quoi la Terre serait
  un désert gelé ne pouvant accueillir la vie. Et nous ne sommes pas trop proches de lui, car si c’était le cas, la
  Terre serait un enfer brûlant.&nbsp;</p>
<p>Même si nous sommes au bon endroit dans le système solaire, nous sommes tout de même assez près pour subir sa
  colère&nbsp;!</p>
<p>Le Soleil ne tourne pas sur lui-même de manière égale&nbsp;: au niveau de l’équateur, on note que la rotation dure
  26 jours, tandis qu’elle dure 37 jours au niveau des pôles. Cela engendre une très forte distorsion du champ
  magnétique solaire. Il en résulte un nombre effroyable de cataclysmes à la surface du Soleil.</p>
<h2>La colère du Soleil</h2>
<p>Des protubérances gazeuses gigantesques pouvant atteindre 50 000 km de hauteur sont régulièrement observées. Le
  Soleil est marqué de toutes parts par ces éruptions. Il peut arriver que de telles éruptions <strong>soient projetées
    à plus de 100 000 km dans l’espace&nbsp;!</strong></p>
<p>La violence de ces éruptions solaires est inouïe. L’énergie libérée par chacune de ces éruptions équivaut à 10
  millions de bombes H&nbsp;!&nbsp;</p>
<p>Lors d’une éclipse totale de Soleil, la Lune cache entièrement le disque solaire. C’est une occasion unique
  d’apercevoir l’atmosphère externe du Soleil, la couronne. La couronne solaire a une température qui peut aller
  jusqu’à <strong>3 millions de degrés</strong>, alors qu’à la surface la température n’est que de <strong>6000° C</strong>.&nbsp;</p>
<p>Pourquoi cette différence&nbsp;? Les scientifiques ont encore du mal à l’expliquer, mais ils pensent que le champ
  magnétique du Soleil en est la cause principale.</p>
<p>La violence de ces éruptions est telle que la matière qui s’en échappe parcourt des millions de kilomètres et arrive
  jusqu’à la sonde SoHO (Solar and Heliospheric Observatory, sonde envoyée en 1995 pour étudier le Soleil), éclaboussée
  alors par des particules solaires.&nbsp;</p>
<p>Ces particules sont éjectées par le Soleil en permanence, elles constituent le vent solaire. Elles sont à l’origine
  de fabuleuses aurores boréales sur la Terre.</p>
<p>Les violentes éruptions solaires ont une autre particularité qui peut nous poser un très gros problème&nbsp;: elles
  sont capables d’anéantir tout le réseau électrique terrestre&nbsp;! À une époque où l’homme dépend à 100% de
  l’énergie électrique, il serait catastrophique que cela arrive.</p>
<p>C’est pour cela qu’un très grand nombre de scientifiques ont en permanence les yeux rivés vers le Soleil. Ils en
  étudient chaque soubresaut, afin de comprendre son fonctionnement et de pouvoir anticiper.</p>
<h2>La mort du Soleil</h2>
<p>Qu’adviendra-t-il du Soleil dans 5 milliards d’années&nbsp;?&nbsp;</p>
<p>Lorsqu’il aura brûlé tout son hydrogène, les noyaux d’hélium vont se mettre à fusionner. Cette réaction générant une
  énergie colossale, bien supérieure aux réactions thermonucléaires qui sévissent actuellement dans notre étoile, cela
  aura pour effet de faire gonfler le Soleil jusqu’à ce qu’il atteigne trois fois sa propre taille. Autant dire qu’à ce
  moment-là, mieux vaudra ne pas être dans les parages&nbsp;!</p>
<p>En effet, lors de cette ultime expansion, le Soleil engloutira tout sur son passage, y compris notre propre planète,
  qui disparaîtra à jamais. Lors de cette étape, le Soleil sera devenu une géante rouge.</p>
<p>À la fin de cette expansion, il ne subsistera du Soleil qu’un petit corps solide en train de refroidir, à peine plus
  gros que la Terre, et que l’on appelle une naine blanche. Au fil des milliards d’années, le soleil deviendra une
  naine noire, une étoile morte et froide.</p>
<p>
</p>