<div class="ce_text first block sc sc2 sc-count0 sc-first sc2-first" id="venus">
   <h1>La planète Uranus ♅</h1>
   <p>La planète Uranus est une planète géante de glace, comme Neptune, leurs compositions internes et leurs atmosphères sont similaires.</p>
   <p>Uranus est la 7<sup>e</sup> planète en partant du Soleil, elle se trouve entre Saturne et Neptune.</p>
   <p>Uranus apparaît relativement uniforme et de couleur vert pâle. Bien que son atmosphère paraisse peu tourmentée, on y voit des bandes de nuages blancs et l’on y a mesuré des vents de 250 à 900 km/h et les températures les plus basses mesurées sur une planète&nbsp;avec seulement 49 k (-229 ° C).</p>
   <p>Uranus possède des anneaux planétaires fins et peu brillants ainsi que 27 satellites naturels dont 4 de plus de 1000 km de diamètre.</p>
   <p>Uranus possède la particularité d’être fortement inclinée au point que ses pôles sont dans son plan de révolution&nbsp;; au lieu d’avoir l’équateur pointé vers le Soleil, ce sont ses pôles qui sont alternativement orientés vers le Soleil. Tout le système, satellites compris, est donc incliné.</p>
   <p>Uranus n’a été découverte qu’en 1781 par William Herschel bien qu’elle soit perceptible à l’œil nu mais sa très faible intensité et sa faible mobilité apparente due à son grand éloignement n’a pas permis de l’identifier comme une planète avant une époque récente et avec des moyens d’observation modernes.</p>
   <p>Uranus n’a été visitée qu’une seule fois par Voyager 2 et aucune mission d’exploration n’est prévue à ce jour.</p>
   <p>Dans la mythologie romaine, Uranus est le dieu du ciel, c’est le père de saturne et le grand-père de Jupiter.</p>
</div>
<div class="ce_text block sc sc2 sc-count1 sc-last sc2-last sc-close" id="caracteristiques">
   <h1>Caractéristiques d'Uranus</h1>
   <dl>
      <dt>Type d'objet :</dt>
      <dd>Planète, Planète géante, Planète géante de glace</dd>
      <dt>Découverte :</dt>
      <dd>13 mars 1781 par William Herschel - Siècle des Lumières, Temps modernes</dd>
      <dt><em> - Orbite - </em></dt>
      <dd>----------</dd>
      <dt>Localisation :</dt>
      <dd>Système solaire externe</dd>
      <dt><dfn>Demi grand-axe</dfn> <span role="definition">Le demi grand-axe d'une ellipse est le plus long diamètre</span> :</dt>
      <dd>2 875&nbsp;millions de km (19,1669&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Périhélie</dfn> <span role="definition">Distance minimum au Soleil</span> :</dt>
      <dd>2741,3&nbsp;millions de km (18,2753&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Aphélie</dfn> <span role="definition">Distance maximum au Soleil</span> :</dt>
      <dd>3003,6&nbsp;millions de km (20,024&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>)</dd>
      <dt><dfn>Excentricité de l'orbite</dfn> <span role="definition">Plus la valeur est proche de 0, plus l'orbite est circulaire</span> :</dt>
      <dd>0,04725744</dd>
      <dt><dfn>Inclinaison de l'orbite</dfn> <span role="definition">Inclinaison du plan de l'orbite sur l'écliptique, L'écliptique est l’intersection de la sphère céleste avec le plan écliptique (plan géométrique contenant l’orbite de la Terre autour du Soleil)</span> :</dt>
      <dd>0,7732&nbsp;°</dd>
      <dt><dfn>Période de révolution</dfn> <span role="definition">Un tour complet autour du Soleil</span> :</dt>
      <dd>84&nbsp;ans -2&nbsp;mois -1&nbsp;j -2&nbsp;h -45&nbsp;min -46&nbsp;s </dd>
      <dt>Vitesse orbitale :</dt>
      <dd>6,80&nbsp;km/s - de 6,486 à 7,128&nbsp;km/s</dd>
      <dt><em> - Rotation - </em></dt>
      <dd>----------</dd>
      <dt>Période de rotation :</dt>
      <dd>0,7183&nbsp;jours - 17&nbsp;h 14&nbsp;min 23&nbsp;s </dd>
      <dt>Inclinaison axiale :</dt>
      <dd>97,86&nbsp;°</dd>
      <dt><em> - En chiffre - </em></dt>
      <dd>----------</dd>
      <dt>Diamètre moyen :</dt>
      <dd>50 921&nbsp;km</dd>
      <dt>Diamètre équatorial :</dt>
      <dd>51 118&nbsp;km - 4,007&nbsp;(Terre=1)</dd>
      <dt>Diamètre polaire :</dt>
      <dd>50 704&nbsp;km</dd>
      <dt>Aplatissement :</dt>
      <dd>0,02293</dd>
      <dt>Volume :</dt>
      <dd>62,9&nbsp;(Terre=1)</dd>
      <dt><dfn>Masse</dfn> <span role="definition">Par rapport à la Terre</span> :</dt>
      <dd>14,536&nbsp;(Terre=1) - 1/22905,35&nbsp;(Soleil=1)</dd>
      <dt>Densité :</dt>
      <dd>1 271&nbsp;kg/m<sup>3</sup> - 0,23&nbsp;(Terre=1) - 1,27&nbsp;(Eau=1)</dd>
      <dt>Gravité à l'équateur :</dt>
      <dd>0,89&nbsp;(Terre=1)</dd>
      <dt>Vitesse de libération :</dt>
      <dd>76 680&nbsp;km/h -&nbsp;21 300&nbsp;m/s</dd>
      <dt>Température à 0,1 bar :</dt>
      <dd>-220&nbsp;° C</dd>
      <dt>Température à 1 bar :</dt>
      <dd>-197&nbsp;° C</dd>
      <dt>Température centrale :</dt>
      <dd>7 000&nbsp;K</dd>
      <dt>Densité à 1 bar :</dt>
      <dd>0,42&nbsp;kg/m<sup>3</sup></dd>
      <dt>Vitesse du vent :</dt>
      <dd>0 à 250&nbsp;m/s</dd>
      <dt>Atmosphère :</dt>
      <dd>Hydrogène&nbsp;82&nbsp;%, Hélium&nbsp;15&nbsp;%, Méthane&nbsp;2,3&nbsp;%, Amoniac&nbsp;0,01&nbsp;%, Gaz&nbsp;traces&nbsp;0,69&nbsp;%</dd>
      <dt><dfn>Moment magnétique</dfn> <span role="definition">Intensité du champs magnétique</span> :</dt>
      <dd>50&nbsp;(Terre=1)</dd>
      <dt><em> - Observation - </em></dt>
      <dd>----------</dd>
      <dt><dfn>Diamètre apparent</dfn> <span role="definition">Diamètre apparent équatorial au plus loin et au plus près de la Terre</span> :</dt>
      <dd>de &nbsp;" à 4,1&nbsp;"</dd>
      <dt><dfn>Magnitude apparente</dfn> <span role="definition">Mesure de l'irradiance d'un objet céleste observé depuis la Terre</span> :</dt>
      <dd>Magnitude à 1 <dfn>UA</dfn> <span role="definition">Unité Astronomique : 150 000 000 km = 1 UA</span> : -7,19 - de 5,9 à 5,32</dd>
      <dt><dfn>Albédo</dfn> <span role="definition">Fraction de lumière réfléchie par un objet</span>&nbsp;:</dt>
      <dd><dfn>Géométrique</dfn> <span role="definition">Indique le rapport entre l'intensité lumineuse réfléchie vers l'observateur et celle reçue par l'objet lorsque le Soleil, l'observateur et l'objet sont alignés, Indique la proportion de lumière réfléchie par rapport à celle théoriquement réfléchie par un disque blanc parfaitement diffusant,</span> : 0,51 - &lt; : 0,3</dd>
      <dt><em> - Anneaux - </em></dt>
      <dd>----------</dd>
      <dt>Nombre d'anneaux :</dt>
      <dd>13 principaux</dd>
      <dt>Rayon planétaire :</dt>
      <dd>1,55 à 3,82&nbsp;(rayon planétaire=1)</dd>
      <dt>Rayon :</dt>
      <dd>39 600 à 97 700&nbsp;kilomètres</dd>
      <dt>Epaisseur :</dt>
      <dd>0,15&nbsp;kilomètres</dd>
      <dt>Taille des particules :</dt>
      <dd>&lt; 0,001 à 10&nbsp;m</dd>
      <dt>Diamètre du satellite de masse :</dt>
      <dd>10&nbsp;kilomètres</dd>
      <dt><em> - Satellites - </em></dt>
      <dd>----------</dd>
      <dt>Nombre de satellites :</dt>
      <dd>&gt; 27</dd>
   </dl>
</div>
<div class="sc-clear"></div>
<!-- Planète Astronomie EU -->
<h2 class="ce_headline" id="parametres">
   Paramètres orbitaux d'Uranus
</h2>
<div class="sc sc3 sc-count2 sc-first sc3-first">
   <div class="ce_text block" id="rotation">
      <h3>Rotation de la planète Uranus</h3>
      <p>La vitesse de rotation de la haute atmosphère se fait en 17&nbsp;heures 14&nbsp;minutes 23&nbsp;secondes  en moyenne mais il y a des variations de vitesse en fonction de la latitude qui permettent à certaines régions aux alentour de 60 ° de faire un tour complet en 14 h.</p>
      <p>Ce qui rend Uranus unique, c’est l’inclinaison de son axe de rotation qui est de 97,86&nbsp;° (non représentée ci-contre).</p>
      <p>Cette configuration implique qu’au lieu de présenter uniquement son équateur au Soleil, elle présente alternativement ses pôles puis l’équateur.</p>
   </div>
   <div class="ce_text block">
      <h3>Inclinaison de l’axe de rotation d’Uranus</h3>
      <p>Uranus est la seule planète du système solaire à présenter une très forte inclinaison de son axe de rotation. En effet, ce dernier est incliné à près de 98&nbsp;° par rapport au plan de révolution. Pour schématiser, Uranus ne tourne pas comme une toupie comme le font les autres planètes mais roule plutôt à a manière d’un ballon, son axe de rotation étant presque parallèle au plan de révolution.</p>
   </div>
</div>
<div class="sc sc3-2 sc-count4 sc-last sc3-2-last sc-close sc-wrapper">
   <div class="video-container carre"><iframe src="https://www.planete-astronomie.eu/files/rotation-planete/uranus.html"></iframe></div>
   <p class="info">Cliquez avec votre souris pour faire tourner Uranus. Molette pour zoomer.</p>
</div>
<div class="sc-clear"></div>
<div class="sc sc3 sc-count5 sc-first sc3-first">
   <div class="ce_text block" id="revolution">
      <h3>Révolution de la planète Uranus</h3>
      <p>Uranus se trouve à une distance du Soleil comprise entre 2741,3&nbsp;millions de kilomètres et 3003,6&nbsp;millions de kilomètres soit environ de 18,28&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span> à 20,02&nbsp;<dfn>UA</dfn> <span role="definition">Unité Astronomique : distance entre le Soleil et la Terre soit 1 UA = 150 millions de km</span>.</p>
      <p>L’excentricité de l’orbite d'Uranus est de 0,047 contre 0,017 pour la Terre.</p>
      <p>Uranus effectue une révolution autour du Soleil en 30687,15&nbsp;jours soit 84&nbsp;ans -2&nbsp;mois -1&nbsp;jours -2&nbsp;heures -45&nbsp;minutes -46&nbsp;secondes  sur un plan incliné à 0,7732&nbsp;° par rapport au plan de l'écliptique.</p>
      <p>C’est parce qu’Uranus met autant d’années à faire une révolution qu’elle n’a pas été repérée en tant que planète avant sa découverte en 1781. Sa distance au Soleil est aussi la cause de sa faible luminosité apparente depuis la Terre, en effet, à une telle distance, la quantité d’énergie solaire reçu est 400 fois moins importante que la quantité reçue par la terre.</p>
   </div>
   <a target="_blank" title="Position d'Uranus en ce moment" href="http://space.jpl.nasa.gov/cgi-bin/wspace?tbody=1000&amp;vbody=1001&amp;month=11&amp;day=30&amp;year=2018&amp;hour=16&amp;minute=10&amp;porbs=1&amp;brite=1&amp;rfov=28">Voir la position de la planète Uranus en ce moment</a>
</div>
<div class="sc-clear"></div>
<h2 class="ce_headline">
   Structure interne d'Uranus
</h2>
<div class="sc sc2 sc-count9 sc-last sc2-last sc-close">
   <style>
      .ce_table table td {text-align:right;}
      .ce_table table tr {transition:all 0.2s ease-out;}
      .ce_table table tr:hover {background-color:rgba(230, 230, 230, 0.5);}
   </style>
   <div class="ce_table">
      <table>
         <thead>
            <tr>
               <th>Nom</th>
               <th>Epaisseur (km)</th>
               <th>Distance (km)</th>
            </tr>
         </thead>
         <tbody>
            <tr></tr>
            <tr>
               <th>Noyau</th>
               <td>4 325</td>
               <td>4 325</td>
            </tr>
            <tr>
               <th>Manteau</th>
               <td>21 908</td>
               <td>22 020</td>
            </tr>
            <tr>
               <th>Atmosphère</th>
               <td>25 429</td>
               <td>25 558</td>
            </tr>
            <tr>
               <th>Surface</th>
               <td>1</td>
               <td>25 559</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="ce_text block">
      <p>La structure d'Uranus serait la suivante&nbsp;:</p>
      <ul>
         <li>Un noyau de fer et de nickel recouvert de roches de silicates qui aurait plus ou moins la même masse que la Terre</li>
         <li>Un manteau composé d’eau et d’ammoniac qui serait à l’origine du champ magnétique</li>
         <li>Une épaisse atmosphère d’hydrogène, d’hélium et de méthane</li>
         <li>Une haute atmosphère</li>
      </ul>
   </div>
</div>
<div class="sc-clear"></div>
<div class="ce_text block">
   <h3>Composition interne d'Uranus</h3>
   <p>La composition d’Uranus est comparable à celle de Neptune mais diffère de celle de Jupiter et de Saturne.</p>
   <p>Ces différences de taille et de composition fait d’elles des planètes dites «&nbsp;planètes géantes de glace&nbsp;» ou&nbsp; «&nbsp;planètes géantes glacées&nbsp;», ce qui les différencies des «&nbsp;planètes géantes de gaz&nbsp;» que sont Jupiter et Saturne.</p>
   <p>Les éléments constituants Uranus seraient :</p>
   <ul>
      <li>83&nbsp;% Dihydrogène,</li>
      <li>15&nbsp;% Hélium,</li>
      <li>1,99&nbsp;% Méthane,</li>
      <li>0,01%&nbsp;Ammoniac,</li>
      <li>0,000&nbsp;25% Éthane,</li>
      <li>0,000&nbsp;01% Acétylène,</li>
      <li>traces de monoxyde de carbone, sulfure d’hydrogène</li>
   </ul>
</div>
<h2 class="ce_headline">
   Caractéristiques physiques d'Uranus
</h2>
<div class="ce_text block">
   <h3>Masse et dimensions</h3>
   <p>Uranus, avec un diamètre équatorial de 51 118 km, soit 4 fois plus que le diamètre terrestre, est 14 fois plus massive que la Terre.</p>
   <p>Uranus est sensiblement de la même taille que Neptune mais bien qu’elle soit légèrement plus grande avec près de 1 600 km de diamètre supplémentaire, est pourtant moins massive que Neptune.</p>
</div>
<div class="ce_text block">
   <h3>Température et pression</h3>
   <p>La température maximale serait de 7000 K et la pression pourrait atteindre 6&nbsp;000&nbsp;000 d’atmosphères terrestres au bas de l’atmosphère ce qui provoquerait des changement de la nature des éléments qui compose Uranus. Le méthane se transformerait notamment en hydrocarbures qui se retrouvent dans la haute atmosphère ainsi qu’en carbone métallique qui formerait une sorte d’océan à la surface duquel flotterait du carbone sous la forme de diamant solide.</p>
   <p>L’atmosphère d’Uranus est la plus froide de toutes les planètes avec une température minimale de 49 K (-224 °C).&nbsp;A 300 km sous la surface, la pression monte à 100 atmosphères terrestres et la température atteint les 320 K.</p>
</div>
<div class="ce_text block" id="champs_magnetique">
   <h2>Atmosphère de la planète Uranus</h2>
   <p>Uranus possède une épaisse atmosphère composée&nbsp;:</p>
   <ul>
      <li>en grande majorité d’hydrogène</li>
      <li>d’hélium,</li>
      <li>de glaces d’eau,</li>
      <li>d’ammoniac</li>
      <li>de méthane</li>
      <li>de traces d’hydrocarbures</li>
   </ul>
   <p>La structure des nuages serait composée de nuages d’eau dans les couches les basses couches tandis que la partie extérieure de la haute atmosphère serait composée de nuages de méthane.</p>
   <p>La majeure partie du reste de l’atmosphère est composée d’hydrogène et d’hélium</p>
   <p>L’atmosphère reposerait sur une couche d'ammoniac, d'eau et de méthane.</p>
   <p>La transition entre l’atmosphère et la couche inférieure serait progressive à mesure que la pression et la température augmentent.</p>
   <p>On distingue 3 couches dans l’atmosphère d’Uranus&nbsp;:</p>
   <ul>
      <li>la troposphère située entre 300 km sous la surface et&nbsp; 50 km d’altitude dont la pression va de 100 à 0,1 bar</li>
      <li>la stratosphère située entre 50 km et 4 000 km &nbsp;avec une pression comprise entre 0,1 et 1 millionième de bar ;</li>
      <li>la thermosphère aussi appelée la couronne qui s’étend de 4 000 km et va jusqu’à 50 000 km d’altitude à partir de la surface.</li>
   </ul>
</div>
<div class="ce_text responsive block">
   <h3>Climat d'Uranus</h3>
   <p>L’éloignement d’Uranus combiné à son axe de rotation très incliné et à sa très faible chaleur interne font d’Uranus une planète relativement calme à la surface de laquelle on ne distingue que peu d’activité atmosphérique.</p>
   <p>Son inclinaison est par contre à l’origine d’une forte variation saisonnière. En effet, chaque pôle est orienté tour à tour pendant 42 ans en direction du Soleil, en passant par des périodes où aucun des pôles n’est vraiment orienté vers le Soleil. Cependant la durée de ce cycle est suffisamment longue pour que la chaleur ait le temps de se répartir lentement ce qui empêche la formation de perturbation atmosphériques d’importance.</p>
</div>
<div class="ce_text block">
   <h2>Magnétosphère</h2>
   <p>Le champs magnétique d’Uranus est très particulier puisqu’il est incliné à près de 60 ° par rapport à son axe de rotation (la différence sur terre n’est que de quelques degrés). De plus, le champ magnétique d’Uranus ne semble pas provenir du centre de la planète. Il est décalé d’un tiers vers le pôle sud de la planète ce qui provoque un champ magnétique asymétrique et une différence d’intensité du champ magnétique qui fait qu’il est 11 fois plus important au pôle nord qu’au pôle sud.</p>
   <p>Cette particularité du champ magnétique se retrouve aussi sur Neptune.</p>
   <p>Cette caractéristique qui semble propre aux planètes géante de glace serait provoquée par le fait que contrairement aux autre planètes dont le champs magnétique est généré par le noyau, le champs magnétique des planètes géantes de glace que sont Uranus et Neptune serait quand à lui provoqué par une couche d’eau et d’ammoniaque sous la couche nuageuse.</p>
   <p>Bien que le champ magnétique d’Uranus ait une inclinaison particulière, la magnétosphère est similaire à celle des autres planètes à la différence près que la rotation d’Uranus imprime une forme de vortex tourbillonnant à la magnétoqueue.</p>
</div>
<h2 class="ce_headline">
   Anneaux d'Uranus
</h2>
<div class="ce_text block sc sc2 sc-count11 sc-first sc2-first">
   <p>Uranus possède un système d'anneaux composé de&nbsp;:</p>
   <ul>
      <li>plusieurs&nbsp;fins anneaux dans la partie centrale</li>
      <li>3 autres anneaux relativement plus large mais très ténus qui n'ont été découverts que récemment</li>
   </ul>
   <p>Consultez notre page spéciale et notre carte interactive des anneaux d'Uranus</p>
</div>
<div class="sc-clear"></div>
<div class="ce_text block" id="observation">
   <h2>Observation de la planète Uranus</h2>
   <p>Uranus est à peine perceptible à l’œil nu depuis le Terre et dans certaines conditions.</p>
   <p>En tant que planète externe, on n’observe pas de phases.</p>
   <p>Avec des jumelles, on voir Uranus comme un petit disque bleu ou vert pâle et ses plus gros satellites sont visibles sous la forme d’un petit point brillant.</p>
</div>
<div class="ce_text last block" id="ressources">
   <h2>Ressources</h2>
   <h3>Wikipedia</h3>
   <ul>
      <li><a title="Uranus sur Wikipedia" href="http://fr.wikipedia.org/wiki/Uranus_%28plan%C3%A8te%29" target="_blank">Uranus</a></li>
   </ul>
</div>

